$mainBrown:#BD744E;
$gradientText: linear-gradient(0, #BD744E 20%, #fff 80%);
$priceBackground: #212121;
$lightWhite: #FFE1D2;
$lightGrey: #DFDFDF;
$lineColor: #141416;
$roomsBlocks: #212121;
$gradientBg: rgba(189, 116, 78, 0.05);
$gradientLine: linear-gradient(270deg, #141416 15.73%, rgba(255, 255, 255, 0) 104.43%), #BD744E;