$mainBrown:#BD744E;//+Коричневый+
$gradientText: linear-gradient(#BD744E 20%, #fff 80%);//Градиент для текста +Светло-коричневый и белый+
$priceBackground: #212121;//Цвет блока с ценой +Темно-серый+
$lightWhite: #FFE1D2;//Цвет для текста +Очень светло-розовый+
$lightGrey: #DFDFDF;//Цвет текста +Светло серый+
$lineColor: #141416;//Цвет линий в хедере +Черный+
$roomsBlocks: #212121;//Цвет блоков для квартир +Темно-серый+
$gradientLine: linear-gradient(270deg, #141416 15.73%, rgba(255, 255, 255, 0) 104.43%), #BD744E;//Цвет линий +Черный и светло-коричневый+