@font-face {
  font-family: Proxima Nova;
  src: url("../fonts/ProximaNovaRegular.ttf") format("truetype"),
       url("../fonts/proxima_nova_regular-webfont.woff") format("woff"),
       url("../fonts/proxima_nova_regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: Neuman;

  src: url("../fonts/td-neumann.otf") format("truetype"),
       url("../fonts/td-neumann-webfont.woff") format("woff"),
       url("../fonts/td-neumann-webfont.woff2") format("woff2");
}
