@import 'colors.scss';
/*Шрифты*/
@import 'fonts.scss';


body{
  background: #141416;
  font-family: "Proxima Nova", sans-serif;
  color: $lightGrey;

  a{
    text-decoration: none;
    cursor: pointer;
  }

  ul{
    list-style: none;
    padding: 0;
  }

  button{
    cursor: pointer;
    padding: 0;
  }

  button,
  input{
    &:focus{
      outline: none;
      border: 1px solid $mainBrown;
    }
  }

  input{
    border-radius: 5px;
    border: 1px solid $lightGrey;
    padding: 0.782em 0.75em;
    color: $lightGrey;
    background: rgba(255,255,255,0);
  }

  h1{
    font: normal normal 54px/63px "Neuman", sans-serif;
    color: $lightWhite;
  }

  h2{
    font: normal normal 45px/normal "Neuman", sans-serif;
    color: $lightWhite;
    margin: 0;
  }

  h3{
    font: normal normal 36px/normal "Neuman", sans-serif;
    color: $mainBrown;
    margin: 0;
  }

  p{
    font: normal normal 14px/24px "Proxima Nova", sans-serif;
    color: $lightGrey;
  }
}

/*Левые и правые линии в хедере*/
.number_list,
.line_list {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin: 0;
  width: 3%;
  position: relative;
  z-index: 10;

  .p_pos_line{
    background: $lineColor;
    opacity: 0.47;
    height: 180px;
    width: 1px;
    margin: 60px 0 20px 0;

    &:first-child {
      height: 160px;
      margin: 40px 0 30px 0;
    }

    &:last-child{
      height: 375px;
      margin: 82px 0 50px 0;
    }
  }
}

/*Левая разметка числами*/
.number_list {
  align-items: flex-start;

  .number_elem {
    font: normal normal 12px/normal 'Neuman', sans-serif;
    color: $mainBrown;
    margin: 12px 4px 15px 0;
    position: relative;
    top: 20px;

  }

  .active_num{
    color: $lightWhite;
    font-size: 16px;
  }
}

/*Правая разметка линиями*/
.line_list {
  .line_elem {
    background: $mainBrown;
    margin: 30px 4px 15px 0;
    width: 20px;
    height: 1px;
    position: relative;
    top: 18px;
  }

  .active_line{
    background: $lightWhite;
    width: 40px;
    margin: 32px 4px 20px 0;
  }

  .scroll_down{
    transform: rotate(90deg);
    position: relative;
    left: 80px;
    top: 7vw;
    width: 160px;
    display: flex;
    align-items: center;

    a{
      font-size: 12px;
      letter-spacing: 0.2em;
      color: $mainBrown;
      transition: 0.2s linear;
      margin: 0 5px 0 10px;

      &:hover{text-shadow: 0 0 10px $mainBrown}
    }

    .scroll_line{
      background-color: $mainBrown;
      width: 20px;
      height: 1px;
    }
  }
}

/*Позициирование и размер иконок с спрайта для блоков с квартирами*/
@mixin apartmentIco($width, $height, $x, $y){
  background-position: $x $y;
  width: $width;
  height: $height;
}

/*Кнопки со стрелкой + анимация*/
@mixin button_styles{
  border: none;
  background: transparent;
  color: $lightGrey;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  padding: 0;

  /*Добавление стрелки*/
  &:after{
    content: "";
    display: inline-block;
    background: url(../img/sprite.png) -16px -0px no-repeat ;
    position: relative;
    top: 3px;
    left: 8px;
    width: 25px;
    height: 13px;
  }

  /*Анимация при наведении*/
  &:hover{
    text-shadow: 0 0 5px $lightGrey;
    transition: 0.1s linear;

    &:after{
      animation: buttonAnim 0.4s linear infinite 0s;
    }

  }

  /*Анимация движения стрелки*/
  @keyframes buttonAnim {
    0%{
      left: 8px;
    }
    50%{
      left: 22px;
    }
    100%{
      left: 8px;
    }
  }
}

/*Левые и правые внутренние отступы блоков-секций*/
$sectionPaddingLeft_Right: 51px;

/*Хедер*/
.header {
  background: black url("../img/header_big.jpeg") no-repeat center;
  background-size: 100% 100%;
  padding: 0 $sectionPaddingLeft_Right;
  position: relative;
  z-index: 222;

  /*Верхняя часть хедера*/
  .header_menu {
    padding-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
      width: 13.5%;

      img{max-width: 100%}
    }

    /*Верхняя линия хедера*/
    .line {
      background: $lineColor;
      height: 1px;
      width: 42%;
      opacity: 0.47;
    }

    /*Прячем моб. меню*/
    .mobile_navbar{display: none;}

    /*Прячем моб. кнопку*/
    .mob_btn{display: none;}


    .navbar {
      .nav_list {
        display: flex;

        .nav_elem {
          a {
            letter-spacing: 0.2em;
            text-transform: uppercase;
            font-size: 10px;
            color: $lightGrey;
            transition: 0.2s linear;

            &:hover{text-shadow: 0 0 5px $lightGrey}
          }

          &:not(:last-child) {margin-right: 26px}
        }
      }
    }
  }

  /*Контент хедера*/
  .header_info {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    /*Контент текст хедера*/
    .header_content{
      margin: 276px 0 0 84px;


      .header_title{
        margin: 0;
        width: 60%;

        /*Оранджевые слова*/
        span{color: $mainBrown}
      }


      .header_text{
        margin: 180px 0 50px 0;
        width: 44%;
      }

      /*Кнопка "ЗАКАЗАТЬ ПРОСМОТР"*/
      .order{
        background-color: rgba(255,255,255, 0);
        border: none;
        z-index: 10;
        position: relative;
        width: 167px;

        img{max-width: 100%}
        
        &:hover{
          img{
            transition: 0.2s linear;
            background-color: rgba(189,116,78, 0.1);
            border-radius: 4px;
          }
        }
      }
    }
  }

  /*Нижняя черная линия*/
  .bottom_line{
    background-color: $lineColor;
    width: 100%;
    height: 1px;
    position: relative;
    bottom: 50px;
  }
}

/*Все секции*/
.main_content{

  /*Кнопка скроллер наверх*/
  .scrollUp{
    position: fixed;
    background: $gradientText;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    cursor: pointer;
    opacity: 0.9;
    top: 80%;
    right: 3%;
    display: none;
    font-size: 4vw  ;
    z-index: 50;
    animation: scrollJump 0.5s cubic-bezier(0.1,0.25,0.1,1) 0s infinite alternate both;
  }

  /*Анимайия подпрыгивания скроллера*/
  @keyframes scrollJump {
    0%{
      top: 81%;
    }
    100%{
      top: 80%;
    }
  }

  /*Секция "О ПРОЕКТЕ"*/
  .about{
    display: flex;
    padding: 190px $sectionPaddingLeft_Right 150px $sectionPaddingLeft_Right;
    background: url("../img/about_big.jpeg") no-repeat center 20%, radial-gradient(26% 18% at 50% 80%, rgba(189, 116, 78, 0.1), transparent);//Фото + нижний круг-градиент
    background-size: 100% auto;

    /*Левый и правый круги-градиенты*/
    .about_left_gradient,
    .about_right_gradient{
      top: 820px;
      right: 0;
      width: 40%;
      height: 800px;
      position: absolute;
    }

    .about_left_gradient{
      left: 0;
      background-image: radial-gradient(100% 60% at 0% 35%, rgba(189, 116, 78, 0.1), transparent);
    }

    .about_right_gradient{
      right: 0;
      background-image: radial-gradient(100% 60% at 100% 35%, rgba(189, 116, 78, 0.1), transparent);
    }


    /*Контент секции*/
    .about_content{
      width: 96%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      z-index: 5;

      .about_title,
      .about_sec_title{text-align: center}

      /*Три колонки с текстом*/
      .about_info{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 485px;

        .about_block{
          width: 32%;
          margin-bottom: 90px;

          .about_block_num{
            font: normal normal 45px/normal "Neuman", sans-serif;
            background: $gradientText;//Цветовой градиент
            -webkit-background-clip: text;//Цветовой градиент
            -webkit-text-fill-color: transparent;//Цветовой градиент
            display: inline-block;
          }

          .about_info_title{
            text-transform: uppercase;
            margin-top: 0;
            letter-spacing: 0.2em;
          }
        }
      }

      /*Блок с ценой*/
      .price_block{
        background: $priceBackground;
        display: inline-flex;
        flex-flow: column nowrap;
        padding: 1%;
        margin: 0 auto;
        width: 60%;
        text-align: center;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
        border-radius: 5px;

        .price_title,
        .price_number{border: 1px solid #434343}

        .price_title{
          font-weight: bold;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          border-bottom: 0;
          padding: 3% 0 0 0;
        }

        .price_number{
          font: normal normal 45px/normal "Neuman", sans-serif;
          border-top: 0;
          padding: 2% 0 2% 0;
          color: $lightWhite;
        }
      }

      /*Блок с спецификациями*/
      .about_specifications{
        display: flex;
        width: 70%;
        justify-content: space-around;
        flex-flow: row wrap;
        margin-top: 100px;

        .spec_block{
          width: 22%;
          display: flex;
          margin-bottom: 60px;

          /*Иконка щита*/
          &:before{
            content: '';
            width: 32px;
            height: 38px;
            display: inline-block;
            margin-right: 20px;
            margin-top: 2px;
            background: url(../img/sprite.png) no-repeat -12px  -172px;
          }

          /*Текст*/
          .spec_text{
            text-transform: uppercase;
            font-size: 14px;
            width: 70%;
            font-weight: bold;
            line-height: 21px;
          }
        }
      }
    }
  }

  /*Секция "МЕСТОПОЛОЖЕНИЕ"*/
  .location{
    background: transparent url(../img/map.jpeg) no-repeat center;
    background-size: 100% auto;
    padding: 9% $sectionPaddingLeft_Right;
    display: flex;
    justify-content: space-between;

    /*Отступы списков с разметкой*/
    .number_list,
    .line_list {margin: 140px 0}

    /*Контент*/
    .location_content{
      flex-grow: 1;
      width: 96%;
      margin-left: 6.4%;

      .location_title{margin-top: 32px}

      /*Список с временем прибытия*/
      .location_list{
        margin-top: 50px;

        .location_elem{
          margin-bottom: 2%;
          line-height: 21px;

          .location_travel_time{
            strong{text-transform: uppercase}
          }
        }
      }
    }
  }

  /*Секция "ПРЕИМУЩЕСТВА"*/
  .spec_features{
    display: flex;
    justify-content: space-between;
    padding: 140px $sectionPaddingLeft_Right 0 $sectionPaddingLeft_Right;
    height: 1600px;
    background-image: radial-gradient(30% 20% at 28% 76%, rgba(189, 116, 78, 0.2), transparent),
    radial-gradient(480px 480px at 50% 35%, rgba(189, 116, 78, 0.05), transparent);

    /*Отступы списков с разметкой*/
    .number_list,
    .line_list {margin: 320px 0}

    /*Контент*/
    .spec_feat_container{
      text-align: center;
      padding: 0 30px;
      width: 96%;

      .spec_feat_title{
        padding-top: 120px;
        background: transparent url("../img/advantages.png") no-repeat center;
        background-size: 95% auto;

      }
      /*Блоки с особеностями*/
      .spec_feat_info{
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        padding: 120px 0 60px 0;


        .spec_feat_block{
          margin-bottom: 100px;
          width: 30%;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;

          .spec_feat_num{
            font: normal normal 45px/normal "Neuman", sans-serif;
            width: 67px;
            height: 67px;
            margin-bottom: 20px;
            background: $gradientText;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            border: 1px solid transparent;//Градиент для бордера
            border-image: $gradientText;//Градиент для бордера
            border-image-slice: 1;//Градиент для бордера
          }

          .spec_feat_text{
            letter-spacing: 0.2em;
            width: 90%;
            line-height: 26px;
            text-transform: uppercase;
          }
        }
      }

      /*Блок с видео и заказом просмотра*/
      .order_viewing{
        padding: 80px 0 0 0;

        /*Видео*/
        .video_viewing{
          width: 30%;
          position: absolute;

          .video-js{
            width: 40vw;
            height: 33vw;
            border-radius: 5px;
            bottom: 30px;

            .vjs-control-bar{background: none}

            .vjs-tech{
              height: 30vw;
              border-radius: 10px;
            }

            .vjs-poster{border-radius: 10px}

            /*Кнопка "ПЛЕЙ"*/
            .vjs-big-play-button{
              width: 30%;
              min-height: 50px;
              background: transparent;
              border: none;
              top: 44%;
              left: 35%;
              font-size: 0.8vw;
              line-height: 18px;
              letter-spacing: 1px;
              text-align: center;

              /*Текст кнопки*/
              &:after{
                width: 100%;
                top: 40px;
                position: relative;
                content: 'смотреть презентацию';
              }

              .vjs-icon-placeholder{
                /*Иконка кнопки*/
                &:before{
                  content: '';
                  display: block;
                  left: 34.2%;
                  width: 50px;
                  background: url("../img/Vector.png") no-repeat;
                }
              }
            }


            &.active{animation: animForVideo 0.5s ease-out 0s 1 alternate forwards}
          }

          video{
            border-radius: 5px;
            width: 40vw;
            height: 30.4vw;
          }
        }

        /*Контент заказа*/
        .order_view_content{
          width: 60%;
          text-align: left;
          position: relative;
          float: right;
          margin-top: 25px;

          /*При наведении вкл. анимация*/
          &.active{animation: animForForm 0.5s ease-out 0s 1 alternate forwards}

          .order_view_text{
            margin: 30px 0;
            width: 80%;
          }

          .line{
            background: $gradientLine;
            height: 1px;
            position: relative;
            top: 5px;
            width: 100%;
          }

          /*Форма заказа*/
          .order_view_form{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            input{width: 27%;}

            /*Блок для кнопки*/
            .send_block{
              width: 100%;
              text-align: right;

              /*Кнопка "Отправить"*/
              .form_send{
                margin-top: 50px;
                margin-right: 10px;
                @include button_styles;
              }
            }
          }
        }

        /*Анимация для видео*/
        @keyframes animForVideo {
          0%{
            left: 0;
            z-index: 1;
          }

          50%{left: -100px}

          100%{
            left: 0;
            z-index: 21;
          }
        }

        /*Анимация для формы*/
        @keyframes animForForm {
          0%{
            left: 0;
            z-index: 1;
          }

          50%{left: 100px}

          100%{
            left: 0;
            z-index: 21;
          }
        }
      }
    }
  }

  /*Секция "ГАЛЕРЕЯ"*/
  .gallery{
    padding: 4% $sectionPaddingLeft_Right 14% $sectionPaddingLeft_Right;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(189, 116, 78, 0.15), transparent);

    .number_list,
    .line_list {margin: 20% 0 15% 0}

    /*Контент*/
    .gallery_content{
      width: 96%;

      .gallery_sec_title{margin-bottom: 50px}

      .gallery_images{
        display: flex;
        justify-content: flex-start;
        width: 90%;
        margin: 0 auto;

        img{
          border-radius: 5px;
          box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.45);
        }

        /*Блок с двумя картинками*/
        .first_img_sect{
          width: 50%;

          img:last-child{margin-top: 3%}

          img{max-width: 100%}
        }

        /*Блок с одной картинкой*/
        .second_img_sect{
          width: 27%;
          margin: 0 3%;

          img{max-width: 100%}
        }

        /*Блок с тремя картинками*/
        .third_img_sect{
          width: 17.8%;

          img{max-width: 100%}

          img:not(:first-child){margin-top: 7.8%}
        }
      }
    }
  }

  /*Секция "КВАРТИРЫ"*/
  .apartments {
    display: flex;
    justify-content: space-between;
    padding:0 $sectionPaddingLeft_Right 200px $sectionPaddingLeft_Right;

    .number_list,
    .line_list {margin: 290px 0}

    /*Контент*/
    .apartments_content {
      text-align: center;
      width: 96%;

      /*Форма с фильтрами*/
      .filters{
        text-align: left;
        width: 72%;
        margin: 100px auto 50px auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;

        /*Фильтры*/
        .filter_price,
        .filter_square{
          width: 30%;

          .irs{
            /*Линия пустая*/
            .irs-line{
              height: 2px;
              width: 99%;
              background-color: #434343;
            }

            .irs-min,
            .irs-max{display: none}

            /*Мелкие цифры*/
            .irs-from,
            .irs-to{
              top: 50px;
              background: none;
              font-size: 14px;
              line-height: 24px;
            }

            .irs-from:before,
            .irs-to:before{display: none}

            /*Линия заполненая*/
            .irs-bar{
              height: 2px;
              background-color: $lightWhite;
            }

             /*Круги*/
            .irs-handle{
              top: 16px;

              & > i:first-child {
                background-color: $mainBrown;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                left: 0;
              }
            }
          }
        }

        /*Кнопка "Применить"*/
        .filters_btn{@include button_styles}
      }

      /*Линия между фильтрами и блоками квартир*/
      .line{
        background: $gradientLine;
        height: 2px;
        width: 65%;
        margin: 70px auto 120px auto;
      }

      /*Кнопка "Смотреть больше"*/
      .see_more{
        @include button_styles;
        margin-top: 60px;
      }

      /*Блоки квартир*/
      .apartments_blocks{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;

        /*Блок с квартирой*/
        .room_block{
          box-sizing: border-box;
          width: 48.5%;
          background-color: $roomsBlocks;
          border-radius: 5px;
          padding: 2% 2% 6% 2%;
          margin-bottom: 30px;

          .room_title{
            font-size: 1.66vw;
            line-height: 24px;
          }

          img{
            border-radius: 5px;
            max-width: 100%;
          }

          /*Иконки с текстом*/
          .room_specifications{
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: flex-end;
            justify-content: space-around;

            .room_count,
            .room_floor,
            .room_size,
            .room_price{
              &:not(:last-child){margin-right: 2%}

              /*Задаем стили для всех иконок*/
              &:before{
                content: "";
                display: inline-block;
                margin-right: 8px;
                position: relative;
                top: 7px;
                background: url(../img/sprite.png) no-repeat ;
              }
            }

            /*Через миксин задаём каждой иконке позицию*/
            .room_count:before{@include apartmentIco(25px, 25px, -14px, -20px)}

            .room_floor:before{
              @include apartmentIco(25px, 34px, -12px, -60px);
              top: 9px;
            }

            .room_size:before{@include apartmentIco(28px, 23px, -18px, -110px)}

            .room_price:before{@include apartmentIco(25px, 21px, -14px, -142px)}
          }
        }
      }
    }
  }

  /*Секция "ВЫБЕРИТЕ КВАРТИРУ"*/
  .choose_apartment{
    background: #141416 url("../img/apartaments_big.jpeg") no-repeat center;
    background-size: 80% auto;
    display: flex;
    justify-content: space-between;
    padding:  0 $sectionPaddingLeft_Right 0 $sectionPaddingLeft_Right;
    text-align: center;
    height: 70vw;

    .number_list,
    .line_list {margin: 350px 0;}
  }

  /*Секция "КОНТАКТЫ"*/
  .contacts{
    display: flex;
    justify-content: space-between;
    padding: 0 $sectionPaddingLeft_Right 0 $sectionPaddingLeft_Right;
    background-image: radial-gradient(600px 350px at 30% 55%, rgba(189, 116, 78, 0.15), transparent);

    .number_list,
    .line_list {
      position: relative;
      z-index: 5;
      margin: 12em 0;
    }

    /*Контент*/
    .contacts_content{
      width: 96%;

      /*Текст с формой*/
      .contact_info{
        float: left;
        display: inline-block;
        position: relative;
        z-index: 5;
        margin: 40px 0 0 70px ;
        height: 590px;
        width: 100%;

        /*Список контактных данных*/
        .contacts_list{
          text-transform: uppercase;
          margin: 30px 0 120px 0;

          .contacts_elem{
            letter-spacing: 0.2em;
            margin-top: 20px;
          }
        }

        /*Форма*/
        .contacts_form {
          input:not(:last-of-type){margin-right: 2.4%}

          /*Кнопка "Заказать просмотр"*/
          .form_send{
            @include button_styles;
            margin-top: 70px;
          }
        }
      }

      /*Нижняя линия*/
      .line{
        background: $gradientLine;
        height: 2px;
        margin-left: 70px;
        width: 32%;
        position: relative;
        top: 80%;
      }

      /*Блок с залним фоном*/
      .bg_contacts_img{
        position: absolute;
        width: 64%;
        right: 0;
        height: 630px;
        background: url(../img/contacts.jpeg) no-repeat;
        border-radius: 5px 0 5px 0;
        box-shadow: 0 0 27px rgba(0, 0, 0, 0.45);
      }
    }
  }

}


/*Подключение медиа запросов*/
@import 'media.scss';

