@import 'colors.scss';
@import 'fonts.scss';
@import 'media.scss';

body{
  background: #141416;
  font-family: "Proxima Nova", sans-serif;
  color: $lightGrey;

  a{
    text-decoration: none;
    cursor: pointer;
  }

  ul{
    list-style: none;
    padding: 0;
  }

  button{
    cursor: pointer;
  }

  button,
  input{
    &:focus{
      outline: none;
      border: 1px solid $mainBrown;
    }
  }

  input{
    border-radius: 5px;
    border: 1px solid $lightGrey;
    padding: 0.782em 0.75em;
    color: $lightGrey;
    background: rgba(255,255,255,0);
  }

  h1{
    font: normal normal 54px/63px "Neuman", sans-serif;
    color: $lightWhite;
  }

  h2{
    font: normal normal 45px/normal "Neuman", sans-serif;
    color: $lightWhite;
    margin: 0;
  }

  h3{
    font: normal normal 36px/normal "Neuman", sans-serif;
    color: $mainBrown;
    margin: 0;
  }

  p{
    font: normal normal 14px/24px "Proxima Nova", sans-serif;
    color: $lightGrey;
  }
}

.number_list,
.line_list {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin: 0;
  position: relative;
  z-index: 10;

  .p_pos_line{
    background: $lineColor;
    opacity: 0.47;
    height: 210px;
    width: 1px;
    margin-bottom: 40px;

    &:first-child {
      height: 170px;
      margin-top: 22px;
    }

    &:last-child{
      height: 396px;
      margin-top: 22px;
    }
  }
}

.number_list {
  align-items: flex-start;

  .number_elem {
    font: normal normal 12px/normal 'Neuman', sans-serif;
    color: $mainBrown;
    margin: 10px 4px 12px 0;

    &:nth-child(2){margin: 5px 4px 18px 0}

    &:nth-child(6){margin: 15px 4px 30px 0}
  }

  .active_num{
    color: $lightWhite;
    font-size: 16px;
  }
}

.line_list {
  .line_elem {
    background: $mainBrown;
    margin: 10px 4px 30px 0;
    width: 20px;
    height: 1px;

    &:nth-child(2){margin-top: 16px}
  }

  .active_line{
    background: $lightWhite;
    width: 40px;
  }

  .scroll_down{
    transform: rotate(90deg);
    position: relative;
    left: 100px;
    top: 7vw;
    width: 200px;
    display: flex;
    align-items: center;

    a{
      font-size: 10px;
      letter-spacing: 0.2em;
      color: $mainBrown;
      transition: 0.2s linear;

      &:hover{text-shadow: 0 0 10px $mainBrown}
    }

    .scroll_line{
      background-color: $mainBrown;
      width: 30px;
      margin-left: 10px;
      height: 1px;
    }
  }
}

@mixin apartmentIco($width, $height, $x, $y){
  background-position: $x $y;
  width: $width;
  height: $height;
}

@mixin button_styles{
  border: none;
  background: inherit;
  color: $lightGrey;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  padding: 0;


  &:after{
    content: "";
    display: inline-block;
    background: url(../img/sprite.png) -4px -0px no-repeat ;
    position: relative;
    top: 3px;
    left: 8px;
    width: 25px;
    height: 13px;
  }

  &:hover{
    text-shadow: 0 0 5px $lightGrey;
    transition: 0.1s linear;

    &:after{
      animation: buttonAnim 0.4s linear infinite 0s;
    }

  }

  @keyframes buttonAnim {
    0%{
      left: 8px;
    }
    50%{
      left: 22px;
    }
    100%{
      left: 8px;
    }
  }
}

.header {
  background: black url("../img/header.png") no-repeat center;
  padding: 0 51px;

  .header_menu {
    padding-top: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .line {
      background: $lineColor;
      height: 1px;
      width: 41%;
      opacity: 0.47;
    }

    .navbar {
      .nav_list {
        display: flex;

        .nav_elem {

          a {
            letter-spacing: 0.2em;
            text-transform: uppercase;
            font-size: 10px;
            color: $lightGrey;
          }

          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }
    }
  }

  .header_info {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    .header_content{
      margin: 260px 0 0 5.9em;

      .header_title{
        margin: 0;
        width: 62%;

        span{color: $mainBrown}
      }

      .header_text{
        margin: 174px 0 44px 0;
        width: 44%;
      }

      .order{
        background-color: rgba(255,255,255, 0);
        border: none;
        z-index: 10;
        position: relative;
        
        &:hover{
          img{
            transition: 0.2s linear;
            background-color: rgba(189,116,78, 0.1);
            border-radius: 4px;
          }
        }
      }
    }
  }

  .bottom_line{
    background-color: $lineColor;
    width: 100%;
    height: 1px;
    position: relative;
    bottom: 40px;
  }
}

.main_content{
  .about{
    display: flex;
    padding: 200px 51px 200px 51px;
    background: url("../img/about.png") no-repeat center 21%, radial-gradient(400px 400px at 50% 80%, rgba(189, 116, 78, 0.1), transparent);

    .about_left_gradient,
    .about_right_gradient{
      top: 720px;
      right: 0;
      width: 40%;
      height: 800px;
      position: absolute;
    }

    .about_left_gradient{
      left: 0;
      background-image: radial-gradient(100% 50% at 0% 50%, rgba(189, 116, 78, 0.1), transparent);
    }

    .about_right_gradient{
      right: 0;
      background-image: radial-gradient(100% 50% at 100% 50%, rgba(189, 116, 78, 0.1), transparent);
    }

    .number_list,
    .line_list {
      margin: 40px 0;
    }

    .about_content{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      z-index: 5;
      
      .about_title,
      .about_sec_title{text-align: center}

      .about_info{
        display: flex;
        justify-content: space-around;
        margin-top: 480px;

        .about_block{
          width: 30%;
          margin-bottom: 90px;

          .about_block_num{
            font: normal normal 45px/normal "Neuman", sans-serif;
            background: $gradientText;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
          }

          .about_info_title{
            text-transform: uppercase;
            margin-top: 0;
            letter-spacing: 0.2em;
          }
        }
      }

      .price_block{
        background: $priceBackground;
        display: inline-flex;
        flex-flow: column nowrap;
        padding: 10px;
        margin: 0 auto;
        width: 45%;
        text-align: center;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
        border-radius: 5px;

        .price_title,
        .price_number{border: 1px solid #434343}

        .price_title{
          font-weight: bold;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          border-bottom: 0;
          padding: 6% 0 0 0;
        }

        .price_number{
          font: normal normal 45px/normal "Neuman", sans-serif;
          border-top: 0;
          padding: 2% 0 4% 0;
          color: $lightWhite;
        }
      }

      .about_specifications{
        display: flex;
        width: 70%;
        justify-content: space-around;
        flex-flow: row wrap;
        margin-top: 100px;

        .spec_block{
          width: 22%;
          display: flex;
          margin-bottom: 2%;

          &:before{
            content: '';
            width: 32px;
            height: 38px;
            display: inline-block;
            margin-right: 20px;
            background: url(../img/sprite.png) no-repeat -4px  -172px;
          }

          .spec_text{
            text-transform: uppercase;
            font-size: 14px;
            width: 70%;
            font-weight: bold;
            line-height: 21px;
          }
        }
      }
    }
  }

  .location{
    background: black url(../img/map.png) no-repeat center;
    padding: 136px 51px;
    display: flex;
    justify-content: space-between;

    .number_list,
    .line_list {margin: 140px 0}

    .location_content{
      flex-grow: 1;
      margin-left: 6.4%;

      .location_title{margin-top: 32px}

      .location_list{
        margin-top: 50px;

        .location_elem{
          margin-bottom: 2%;
          line-height: 21px;

          .location_travel_time{
            strong{text-transform: uppercase}
          }
        }
      }
    }
  }

  .spec_features{
    display: flex;
    justify-content: space-between;
    padding: 0 51px;
    height: 1500px;
    background-image: radial-gradient(30% 22% at 28% 78%, rgba(189, 116, 78, 0.2), transparent);


    .number_list,
    .line_list {margin: 340px 0}

    .spec_feat_container{
      text-align: center;
      padding: 0 30px;

      .spec_feat_title{
        padding-top: 160px;
        background: transparent url("../img/advantages.png") no-repeat center;
        height: 100px;
      }

      .spec_feat_info{
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        background-image: radial-gradient(300px 300px at 50% 46%, rgba(189, 116, 78, 0.05), transparent);
        padding: 70px 0;

        .spec_feat_block{
          margin-bottom: 100px;
          width: 30%;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;

          .spec_feat_num{
            font: normal normal 45px/normal "Neuman", sans-serif;
            width: 67px;
            height: 67px;
            margin-bottom: 20px;
            background: $gradientText;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            border: 1px solid transparent;
            border-image: $gradientText;
            border-image-slice: 1;
          }

          .spec_feat_text{
            letter-spacing: 0.2em;
            width: 90%;
            text-transform: uppercase;
          }
        }
      }

      .order_viewing{
        padding: 80px 0 0 0;

        .video_viewing{
          width: 30%;
          position: absolute;

          .video-js{
            width: 36.8vw;
            height: 30vw;
            border-radius: 5px;
            
            .vjs-control-bar{background: none}

            .vjs-tech{
              height: 30vw;
              border-radius: 5px;
            }

            .vjs-poster{border-radius: 5px}

            .vjs-big-play-button{
              width: 30%;
              min-height: 50px;
              background: transparent;
              border: none;
              top: 44%;
              left: 35%;
              font-size: 0.8vw;
              line-height: 18px;
              letter-spacing: 1px;
              text-align: center;

              &:after{
                width: 100%;
                top: 40px;
                position: relative;
                content: 'смотреть презентацию';
              }

              .vjs-icon-placeholder{
                &:before{
                  content: '';
                  display: block;
                  left: 34.2%;
                  width: 50px;
                  background: url("../img/Vector.png") no-repeat;
                }
              }
            }


            &.active{animation: animForVideo 0.5s ease-out 0s 1 alternate forwards}
          }

          video{
            border-radius: 5px;
            width: 36.8vw;
            height: 30.4vw;
          }
        }

        .order_view_content{
          width: 60%;
          text-align: left;
          position: relative;
          float: right;
          margin-top: 25px;

          &.active{animation: animForForm 0.5s ease-out 0s 1 alternate forwards}

          .order_view_text{width: 70%}

          .line{
            background: $gradientLine;
            height: 1px;
            position: relative;
            top: 10px;
            width: 100%;
          }

          .order_view_form{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            .send_block{
              width: 100%;
              text-align: right;
              
              .form_send{
                margin-top: 50px;
                margin-right: 10px;
                @include button_styles;
              }
            }
          }
        }
      
      
        @keyframes animForVideo {
          0%{
            left: 0;
            z-index: 1;
          }
          50%{
            left: -100px;

          }
          100%{
            left: 0;
            z-index: 21;
          }
        }

        @keyframes animForForm {
          0%{
            left: 0;
            z-index: 1;
          }
          50%{
            left: 100px;

          }
          100%{
            left: 0;
            z-index: 21;
          }
        }
      }
    }
  }

  .gallery{
    padding: 200px 51px 0 51px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-image: radial-gradient(700px 550px at 50% 50%, rgba(189, 116, 78, 0.1), transparent);

    .number_list,
    .line_list {margin: 300px 0}

    .gallery_content{
      .gallery_sec_title{margin-bottom: 30px}

      .gallery_images{
        display: flex;
        justify-content: flex-start;
        width: 90%;
        margin: 0 auto;

        img{
          border-radius: 5px;
          box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.45);
        }

        .first_img_sect{
          width: 50%;
          height: 37vw;

          img:last-child{margin-top: 3%}

          img{max-width: 100%}
        }

        .second_img_sect{
          width: 27%;
          height: 37vw;
          margin: 0 1%;

          img{max-width: 100%}
        }

        .third_img_sect{
          width: 17.8%;
          height: 37vw;

          img{max-width: 100%}

          img:not(:first-child){margin-top: 7.8%}
        }
      }
    }
  }

  .apartments {
    display: flex;
    justify-content: space-between;
    padding:0 51px 200px 51px;

    .number_list,
    .line_list {margin: 240px 0}

    .apartments_content {
      text-align: center;

      .filters{
        text-align: left;
        width: 72%;
        margin: 50px auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;

        .filter_price,
        .filer_square{
          width: 30%;

          .irs{
            .irs-line{
              height: 2px;
              width: 99%;
              background-color: #434343;
            }

            .irs-min,
            .irs-max{display: none}

            .irs-from,
            .irs-to{
              top: 50px;
              background: none;
              font-size: 14px;
              line-height: 24px;
            }

            .irs-from:before,
            .irs-to:before{display: none}

            .irs-bar{
              height: 2px;
              background-color: $lightWhite;
            }


            .irs-handle{
              top: 16px;

              & > i:first-child {
              background-color: $mainBrown;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              left: 0;
              }
            }
          }
        }

        .filters_btn{
          @include button_styles;
        }
      }

      .line{
        background: $gradientLine;
        height: 2px;
        width: 65%;
        margin: 70px auto 120px auto;
      }

      .see_more{
        @include button_styles;
        margin-top: 60px;
      }

      .apartments_blocks{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        width: 80%;
        margin: 0 auto;

        .room_block{
          width: 44.5%;
          background-color: $roomsBlocks;
          border-radius: 5px;
          padding: 2% 2% 6% 2%;
          margin-bottom: 30px;

          &:not(:nth-child(2n)){margin-right: 3%}

          .room_title{
            font-size: 24px;
            line-height: 24px;
          }

          img{
            border-radius: 5px;
            max-width: 100%;
          }

          .room_specifications{
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: flex-end;
            justify-content: space-around;

            .room_count,
            .room_floor,
            .room_size,
            .room_price{
              &:not(:last-child){margin-right: 2%}

              &:before{
                content: "";
                display: inline-block;
                margin-right: 2px;
                position: relative;
                top: 7px;
                background: url(../img/sprite.png) no-repeat ;
              }
            }

            .room_count:before{@include apartmentIco(25px, 25px, -4px, -20px)}

            .room_floor:before{
              @include apartmentIco(14px, 34px, -10px, -60px);
              top: 9px;
            }

            .room_size:before{@include apartmentIco(28px, 23px, -8px, -110px)}

            .room_price:before{@include apartmentIco(25px, 21px, -4px, -142px)}

          }
        }
      }
    }
  }

  .choose_apartment{
    background: #141416 url("../img/apartaments.png") no-repeat center;
    display: flex;
    justify-content: space-between;
    padding:  0 51px 0 51px;
    text-align: center;
    height: 1000px;

    .number_list,
    .line_list {margin: 350px 0;}
  }

  .contacts{
    display: flex;
    justify-content: space-between;
    padding: 0 51px 0 51px;
    background-image: radial-gradient(600px 300px at 30% 50%, rgba(189, 116, 78, 0.15), transparent);

    .number_list,
    .line_list {
      position: relative;
      z-index: 5;
      margin: 12em 0;
    }

    .contacts_content{
      width: 100%;

      .contact_info{
        float: left;
        display: inline-block;
        position: relative;
        z-index: 5;
        margin-left: 6.4%;
        height: 600px;

        .contacts_list{
          text-transform: uppercase;
          margin: 30px 0 120px 0;

          .contacts_elem{
            letter-spacing: 0.2em;
            margin-top: 30px;
          }
        }

        .contacts_form {
          input:not(:last-of-type){margin-right: 2.4%}

          .form_send{
            @include button_styles;
            margin-top: 70px;
          }
        }
      }

      .line{
        background: $gradientLine;
        height: 2px;
        margin-left: 6.4%;
        width: 30%;
        position: relative;
        top: 80%;
      }

      .bg_contacts_img{
        position: absolute;
        width: 930px;
        right: 0;
        height: 630px;
        background: url(../img/contacts.png) no-repeat;
        border-radius: 5px;
        box-shadow: 0 0 27px rgba(0, 0, 0, 0.45);
      }
    }
  }
}