@import 'colors.scss';
@import 'fonts.scss';
@import 'media.scss';

body{
  background: #141416;
  font-family: "Proxima Nova", sans-serif;
  color: $lightGrey;

  a{
    text-decoration: none;
    cursor: pointer;
  }

  ul{
    list-style: none;
    padding: 0;
  }

  button{
    cursor: pointer;
    padding: 0;
  }

  button,
  input{
    &:focus{
      outline: none;
      border: 1px solid $mainBrown;
    }
  }

  input{
    border-radius: 5px;
    border: 1px solid $lightGrey;
    padding: 0.782em 0.75em;
    color: $lightGrey;
    background: rgba(255,255,255,0);
  }

  h1{
    font: normal normal 54px/63px "Neuman", sans-serif;
    color: $lightWhite;
  }

  h2{
    font: normal normal 45px/normal "Neuman", sans-serif;
    color: $lightWhite;
    margin: 0;
  }

  h3{
    font: normal normal 36px/normal "Neuman", sans-serif;
    color: $mainBrown;
    margin: 0;
  }

  p{
    font: normal normal 14px/24px "Proxima Nova", sans-serif;
    color: $lightGrey;
  }
}

.number_list,
.line_list {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin: 0;
  position: relative;
  z-index: 10;

  .p_pos_line{
    background: $lineColor;
    opacity: 0.47;
    height: 210px;
    width: 1px;
    margin: 20px 0;

    &:first-child {
      height: 160px;
      margin-top: 39px;
    }

    &:last-child{
      height: 396px;
      margin-top: 22px;
    }
  }
}

.number_list {
  align-items: flex-start;

  .number_elem {
    font: normal normal 12px/normal 'Neuman', sans-serif;
    color: $mainBrown;
    margin: 12px 4px 12px 0;
    position: relative;
    top: 8px;

    &:nth-child(2){margin: 12px 4px 12px 0;}


  }

  .active_num{
    color: $lightWhite;
    font-size: 16px;
  }
}

.line_list {

  .line_elem {
    background: $mainBrown;
    margin: 30px 4px 10px 0;
    width: 20px;
    height: 1px;
    position: relative;

    &:not(&.active){


    }
  }

  .active_line{
    background: $lightWhite;
    width: 40px;
    margin: 30px 4px 10px 0;
    

  }

  .scroll_down{
    transform: rotate(90deg);
    position: relative;
    left: 100px;
    top: 7vw;
    width: 200px;
    display: flex;
    align-items: center;

    a{
      font-size: 10px;
      letter-spacing: 0.2em;
      color: $mainBrown;
      transition: 0.2s linear;
      margin: 0 10px;

      &:hover{text-shadow: 0 0 10px $mainBrown}
    }

    .scroll_line{
      background-color: $mainBrown;
      width: 30px;
      margin-left: 10px;
      height: 1px;
    }
  }
}

@mixin apartmentIco($width, $height, $x, $y){
  background-position: $x $y;
  width: $width;
  height: $height;
}

@mixin button_styles{
  border: none;
  background: inherit;
  color: $lightGrey;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  padding: 0;


  &:after{
    content: "";
    display: inline-block;
    background: url(../img/sprite.png) -16px -0px no-repeat ;
    position: relative;
    top: 3px;
    left: 8px;
    width: 25px;
    height: 13px;
  }

  &:hover{
    text-shadow: 0 0 5px $lightGrey;
    transition: 0.1s linear;

    &:after{
      animation: buttonAnim 0.4s linear infinite 0s;
    }

  }

  @keyframes buttonAnim {
    0%{
      left: 8px;
    }
    50%{
      left: 22px;
    }
    100%{
      left: 8px;
    }
  }
}

.header {
  background: black url("../img/header_big.png") no-repeat center;//
  background-size: 100% 100%;//
  padding: 0 51px;
  position: relative;
  z-index: 222;

  .header_menu {
    padding-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
      width: 13%;
      img{
        max-width: 100%;
      }
    }

    .line {
      background: $lineColor;
      height: 1px;
      width: 41%;
      opacity: 0.47;
    }

    .mobile_navbar{
      display: none;
    }

    .mob_btn{
      display: none;
    }

    .navbar {
      .nav_list {
        display: flex;

        .nav_elem {

          a {
            letter-spacing: 0.2em;
            text-transform: uppercase;
            font-size: 10px;
            color: $lightGrey;
          }

          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }
    }
  }

  .header_info {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    .header_content{
      margin: 260px 0 0 5.9em;

      .header_title{
        margin: 0;
        width: 62%;

        span{color: $mainBrown}
      }

      .header_text{
        margin: 124px 0 44px 0;
        width: 44%;
      }

      .order{
        background-color: rgba(255,255,255, 0);
        border: none;
        z-index: 10;
        position: relative;
        width: 167px;

        img{
          max-width: 100%;
        }
        
        &:hover{
          img{
            transition: 0.2s linear;
            background-color: rgba(189,116,78, 0.1);
            border-radius: 4px;
          }
        }
      }
    }
  }

  .bottom_line{
    background-color: $lineColor;
    width: 100%;
    height: 1px;
    position: relative;
    bottom: 20px;
  }
}

.main_content{
  .about{
    display: flex;
    padding: 190px 51px 14% 51px;
    background: url("../img/about_big.png") no-repeat center 21%, radial-gradient(400px 400px at 50% 80%, rgba(189, 116, 78, 0.1), transparent);
    background-size: 100% auto;
    .about_left_gradient,
    .about_right_gradient{
      top: 720px;
      right: 0;
      width: 40%;
      height: 800px;
      position: absolute;
    }

    .about_left_gradient{
      left: 0;
      background-image: radial-gradient(100% 60% at 0% 35%, rgba(189, 116, 78, 0.1), transparent);
    }

    .about_right_gradient{
      right: 0;
      background-image: radial-gradient(100% 60% at 100% 35%, rgba(189, 116, 78, 0.1), transparent);
    }

    .number_list,
    .line_list {
      margin: 4% 0;
    }

    .about_content{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      z-index: 5;

      .about_title,
      .about_sec_title{text-align: center}

      .about_info{
        display: flex;
        justify-content: space-around;
        margin-top: 480px;

        .about_block{
          width: 30%;
          margin-bottom: 90px;

          .about_block_num{
            font: normal normal 45px/normal "Neuman", sans-serif;
            background: $gradientText;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
          }

          .about_info_title{
            text-transform: uppercase;
            margin-top: 0;
            letter-spacing: 0.2em;
          }
        }
      }

      .price_block{
        background: $priceBackground;
        display: inline-flex;
        flex-flow: column nowrap;
        padding: 1%;
        margin: 0 auto;
        width: 50%;
        text-align: center;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
        border-radius: 5px;

        .price_title,
        .price_number{border: 1px solid #434343}

        .price_title{
          font-weight: bold;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          border-bottom: 0;
          padding: 6% 0 0 0;
        }

        .price_number{
          font: normal normal 45px/normal "Neuman", sans-serif;
          border-top: 0;
          padding: 2% 0 4% 0;
          color: $lightWhite;
        }
      }

      .about_specifications{
        display: flex;
        width: 70%;
        justify-content: space-around;
        flex-flow: row wrap;
        margin-top: 100px;

        .spec_block{
          width: 22%;
          display: flex;
          margin-bottom: 2%;

          &:before{
            content: '';
            width: 32px;
            height: 38px;
            display: inline-block;
            margin-right: 20px;
            margin-top: 2px;
            background: url(../img/sprite.png) no-repeat -12px  -172px;
          }

          .spec_text{
            text-transform: uppercase;
            font-size: 14px;
            width: 70%;
            font-weight: bold;
            line-height: 21px;
          }
        }
      }
    }
  }

  .location{
    background: transparent url(../img/map.png) no-repeat center;
    background-size: 100% auto;
    padding: 9% 51px;
    display: flex;
    justify-content: space-between;

    .number_list,
    .line_list {margin: 140px 0}

    .location_content{
      flex-grow: 1;
      margin-left: 6.4%;

      .location_title{margin-top: 32px}

      .location_list{
        margin-top: 50px;

        .location_elem{
          margin-bottom: 2%;
          line-height: 21px;

          .location_travel_time{
            strong{text-transform: uppercase}
          }
        }
      }
    }
  }

  .spec_features{
    display: flex;
    justify-content: space-between;
    padding: 0 51px;
    height: 1500px;
    background-image: radial-gradient(30% 22% at 28% 78%, rgba(189, 116, 78, 0.2), transparent);


    .number_list,
    .line_list {margin: 340px 0}

    .spec_feat_container{
      text-align: center;
      padding: 0 30px;

      .spec_feat_title{
        padding-top: 160px;
        background: transparent url("../img/advantages.png") no-repeat center;
        background-size: 80% auto;
        height: 100px;
      }

      .spec_feat_info{
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        background-image: radial-gradient(300px 300px at 50% 46%, rgba(189, 116, 78, 0.05), transparent);
        padding: 70px 0;

        .spec_feat_block{
          margin-bottom: 100px;
          width: 30%;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;

          .spec_feat_num{
            font: normal normal 45px/normal "Neuman", sans-serif;
            width: 67px;
            height: 67px;
            margin-bottom: 20px;
            background: $gradientText;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            border: 1px solid transparent;
            border-image: $gradientText;
            border-image-slice: 1;
          }

          .spec_feat_text{
            letter-spacing: 0.2em;
            width: 90%;
            text-transform: uppercase;
          }
        }
      }

      .order_viewing{
        padding: 80px 0 0 0;

        .video_viewing{
          width: 30%;
          position: absolute;

          .video-js{
            width: 40vw;
            height: 33vw;
            border-radius: 5px;
            bottom: 30px;

            .vjs-control-bar{background: none}

            .vjs-tech{
              height: 30vw;
              border-radius: 5px;
            }

            .vjs-poster{border-radius: 5px}

            .vjs-big-play-button{
              width: 30%;
              min-height: 50px;
              background: transparent;
              border: none;
              top: 44%;
              left: 35%;
              font-size: 0.8vw;
              line-height: 18px;
              letter-spacing: 1px;
              text-align: center;

              &:after{
                width: 100%;
                top: 40px;
                position: relative;
                content: 'смотреть презентацию';
              }

              .vjs-icon-placeholder{
                &:before{
                  content: '';
                  display: block;
                  left: 34.2%;
                  width: 50px;
                  background: url("../img/Vector.png") no-repeat;
                }
              }
            }


            &.active{animation: animForVideo 0.5s ease-out 0s 1 alternate forwards}
          }

          video{
            border-radius: 5px;
            width: 40vw;
            height: 30.4vw;
          }
        }

        .order_view_content{
          width: 60%;
          text-align: left;
          position: relative;
          float: right;
          margin-top: 25px;

          &.active{animation: animForForm 0.5s ease-out 0s 1 alternate forwards}

          .order_view_text{width: 70%}

          .line{
            background: $gradientLine;
            height: 1px;
            position: relative;
            top: 10px;
            width: 100%;
          }

          .order_view_form{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            input{
              width: 26%;
            }

            .send_block{
              width: 100%;
              text-align: right;

              .form_send{
                margin-top: 50px;
                margin-right: 10px;
                @include button_styles;
              }
            }
          }
        }


        @keyframes animForVideo {
          0%{
            left: 0;
            z-index: 1;
          }
          50%{
            left: -100px;

          }
          100%{
            left: 0;
            z-index: 21;
          }
        }

        @keyframes animForForm {
          0%{
            left: 0;
            z-index: 1;
          }
          50%{
            left: 100px;

          }
          100%{
            left: 0;
            z-index: 21;
          }
        }
      }
    }
  }

  .gallery{
    padding: 10% 51px 4% 51px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(189, 116, 78, 0.1), transparent);

    .number_list,
    .line_list {margin: 25% 0 15% 0}

    .gallery_content{
      .gallery_sec_title{margin-bottom: 30px}

      .gallery_images{
        display: flex;
        justify-content: flex-start;
        width: 90%;
        margin: 0 auto;

        img{
          border-radius: 5px;
          box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.45);
        }

        .first_img_sect{
          width: 50%;
          height: 37vw;

          img:last-child{margin-top: 3%}

          img{max-width: 100%}
        }

        .second_img_sect{
          width: 27%;
          height: 37vw;
          margin: 0 3%;

          img{max-width: 100%}
        }

        .third_img_sect{
          width: 17.8%;
          height: 37vw;

          img{max-width: 100%}

          img:not(:first-child){margin-top: 7.8%}
        }
      }
    }
  }

  .apartments {
    display: flex;
    justify-content: space-between;
    padding:0 51px 200px 51px;

    .number_list,
    .line_list {margin: 240px 0}

    .apartments_content {
      text-align: center;

      .filters{
        text-align: left;
        width: 72%;
        margin: 50px auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;

        .filter_price,
        .filter_square{
          width: 30%;

          .irs{
            .irs-line{
              height: 2px;
              width: 99%;
              background-color: #434343;
            }

            .irs-min,
            .irs-max{display: none}

            .irs-from,
            .irs-to{
              top: 50px;
              background: none;
              font-size: 14px;
              line-height: 24px;
            }

            .irs-from:before,
            .irs-to:before{display: none}

            .irs-bar{
              height: 2px;
              background-color: $lightWhite;
            }


            .irs-handle{
              top: 16px;

              & > i:first-child {
                background-color: $mainBrown;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                left: 0;
              }
            }
          }
        }

        .filters_btn{
          @include button_styles;
        }
      }

      .line{
        background: $gradientLine;
        height: 2px;
        width: 65%;
        margin: 70px auto 120px auto;
      }

      .see_more{
        @include button_styles;
        margin-top: 60px;
      }

      .apartments_blocks{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;

        .room_block{
          box-sizing: border-box;
          width: 48.5%;
          background-color: $roomsBlocks;
          border-radius: 5px;
          padding: 2% 2% 6% 2%;
          margin-bottom: 30px;

          .room_title{
            font-size: 1.66vw;
            line-height: 24px;
          }

          img{
            border-radius: 5px;
            max-width: 100%;
          }

          .room_specifications{
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: flex-end;
            justify-content: space-around;

            .room_count,
            .room_floor,
            .room_size,
            .room_price{
              &:not(:last-child){margin-right: 2%}

              &:before{
                content: "";
                display: inline-block;
                margin-right: 2px;
                position: relative;
                top: 7px;
                background: url(../img/sprite.png) no-repeat ;
              }
            }

            .room_count:before{@include apartmentIco(25px, 25px, -14px, -20px)}

            .room_floor:before{
              @include apartmentIco(25px, 34px, -12px, -60px);
              top: 9px;
            }

            .room_size:before{@include apartmentIco(28px, 23px, -18px, -110px)}

            .room_price:before{@include apartmentIco(25px, 21px, -14px, -142px)}

          }
        }
      }
    }
  }

  .choose_apartment{
    background: #141416 url("../img/apartaments_big.png") no-repeat center;
    background-size: 100% auto;
    display: flex;
    justify-content: space-between;
    padding:  0 51px 0 51px;
    text-align: center;
    height: 1000px;

    .number_list,
    .line_list {margin: 350px 0;}
  }

  .contacts{
    display: flex;
    justify-content: space-between;
    padding: 0 51px 0 51px;
    background-image: radial-gradient(600px 300px at 30% 50%, rgba(189, 116, 78, 0.15), transparent);

    .number_list,
    .line_list {
      position: relative;
      z-index: 5;
      margin: 12em 0;
    }

    .contacts_content{
      width: 100%;

      .contact_info{
        float: left;
        display: inline-block;
        position: relative;
        z-index: 5;
        margin-left: 6.4%;
        height: 600px;

        .contacts_list{
          text-transform: uppercase;
          margin: 30px 0 120px 0;

          .contacts_elem{
            letter-spacing: 0.2em;
            margin-top: 30px;
          }
        }

        .contacts_form {
          input:not(:last-of-type){margin-right: 2.4%}

          .form_send{
            @include button_styles;
            margin-top: 70px;
          }
        }
      }

      .line{
        background: $gradientLine;
        height: 2px;
        margin-left: 6.4%;
        width: 30%;
        position: relative;
        top: 80%;
      }

      .bg_contacts_img{
        position: absolute;
        width: 930px;
        right: 0;
        height: 630px;
        background: url(../img/contacts.png) no-repeat;
        border-radius: 5px;
        box-shadow: 0 0 27px rgba(0, 0, 0, 0.45);
      }
    }
  }

}

@media screen and (min-width: $laptopEL) and (max-width: $Two_K){
  .line_list {
    .scroll_down{
      top: 6vw;

      a{font-size: 0.8vw}
    }
  }
}

/*1440 - 1680*/
@media screen and (min-width: $laptopL) and (max-width: $laptopEL){
  body{
    input{font-size: 18px}

    h1{font: normal normal 64px/63px "Neuman", sans-serif}

    h2{font: normal normal 55px/normal "Neuman", sans-serif}

    h3{font: normal normal 46px/normal "Neuman", sans-serif}

    p{font: normal normal 18px/24px "Proxima Nova", sans-serif}
  }


  .line_list {
    .scroll_down{
      top: 6vw;

      a{font-size: 0.8vw}
    }
  }

  .header {
    background: black url("../img/header_big.png") no-repeat center;//
    background-size: 100% auto;//

    .header_menu {

      .navbar {
        .nav_list {
          display: flex;

          .nav_elem {
            a {font-size: 12px}
          }
        }
      }
    }

    .header_info {
      .header_content{
        .order{width: 16%}
      }
    }
  }

  .main_content{
    .about{
      background: url("../img/about_big.png") no-repeat center 23%, radial-gradient(400px 400px at 50% 80%, rgba(189, 116, 78, 0.1), transparent);
      background-size: 100% auto;
    }


    .spec_features{
      height: 1550px;
      background-image: radial-gradient(30% 22% at 28% 78%, rgba(189, 116, 78, 0.2), transparent);

      .spec_feat_container{
        .spec_feat_info{
          background-image: radial-gradient(360px 360px at 50% 42%, rgba(189, 116, 78, 0.05), transparent);
        }

        .order_viewing{
          .video_viewing{
            .video-js{
              .vjs-big-play-button{
                top: 45%;

                .vjs-icon-placeholder{
                  &:before{left: 35.4%}
                }
              }
            }
          }

          .order_view_content{margin-top: 0}
        }
      }
    }

    .apartments {
      .apartments_content {
        .apartments_blocks{
          .room_block{
            .room_title{font-size: 24px}
          }
        }
      }
    }

    .choose_apartment{height: 80vw;}

    .contacts{
      .contacts_content{

        .line{width: 40%;}

        .bg_contacts_img{
          width: 66%;
          background: url(../img/contacts_big.png) no-repeat center;
        }
      }
    }
  }
}

/*1280*/
@media screen and (max-width: $laptopM){

body{
  input{padding: 0.582em 0.55em;}
}

  .header {
    .header_menu {
      .logo{

      }

      .line {width: 38%}
    }

    .header_info {
      .header_content{
        .header_title{width: 82%}
      }
    }
  }

  .main_content{
    .about{
      background: url("../img/about_big.png") no-repeat center 21%, radial-gradient(400px 400px at 50% 80%, rgba(189, 116, 78, 0.1), transparent);
      background-size: 100% auto;

      .about_content{
        .about_specifications{
          width: 90%;

          .spec_block{
            width: 22%;

            .spec_text{
              font-size: 12px;
              width: 65%;
            }
          }
        }
      }
    }

    .location{
      background: transparent url(../img/map.png) no-repeat center;
      background-size: 100% auto;
      padding: 9% 51px;

      .location_content{
        .location_list{
          .location_elem{line-height: 18px}
        }
      }
    }

    .spec_features{
      background-image: radial-gradient(30% 22% at 28% 79%, rgba(189, 116, 78, 0.2), transparent);
      height: 1400px;

      .number_list,
      .line_list {margin: 340px 0}

      .spec_feat_container{
        .order_viewing{
          padding: 0 0 0 0;

          .order_view_content{width: 66%}
        }
      }
    }

    .gallery{
      padding: 10% 51px 0 51px;
      background-image: radial-gradient(50% 50% at 50% 52%, rgba(189, 116, 78, 0.1), transparent);

      .number_list,
      .line_list {margin: 25% 0 15% 0}
    }

    .apartments {
      .apartments_content {
        .apartments_blocks{
          .room_block{
            .room_specifications{
              font-size: 1.1vw;

              .room_count,
              .room_floor,
              .room_size,
              .room_price{

                &:before{transform: scale(0.7)}
              }
            }
          }
        }
      }
    }

    .contacts{
      .contacts_content{
        .contact_info{
          width: 80%;

          .contacts_form {
            .form_send{margin-top: 80px}
          }
        }

        .line{width: 40%}

        .bg_contacts_img{width: 730px}
      }
    }
  }

}

/*1134*/
@media screen and (max-width: $bagFixLaptop){
body{
  h1{font: normal normal 50px/63px "Neuman", sans-serif}
}


  .header {
    .header_menu {

      .logo{
        width: 15%;
      }

      .line {width: 28%}
    }

    .header_info {
      .header_content{
        .header_title{width: 82%}

        .header_text{width: 60%}
        }
      }
    }


  .main_content{
    .about{
      padding: 160px 51px 10% 51px;
      background: url("../img/about_big.png") no-repeat center 21%, radial-gradient(400px 400px at 50% 80%, rgba(189, 116, 78, 0.1), transparent);
      background-size: 100% auto;

      .about_content{
        .price_block{
          .price_number{font: normal normal 40px/normal "Neuman", sans-serif}
        }
      }
    }

    .location{background: transparent url(../img/map.png) no-repeat center}

    .spec_features{
      .spec_feat_container{
        .order_viewing{
          .order_view_content{
            .order_view_form{
              input{width: 27%}
            }
          }
        }
      }
    }

    .gallery{background-image: radial-gradient(50% 50% at 50% 50%, rgba(189, 116, 78, 0.1), transparent)}

    .apartments {
      .apartments_content {
        .apartments_blocks{
          .room_block{
            .room_specifications{
              flex-flow: row wrap;
              justify-content: space-between;
              align-items: center;
              width: 80%;
              margin: 0 auto;
              font-size: 1.3vw;

              .room_count,
              .room_floor,
              .room_size,
              .room_price{
                width: 50%;
                text-align: left;
                margin-top: 10px;

                &:not(:last-child){
                  margin-right: 0;}
              }
            }
          }
        }
      }
    }

    .choose_apartment{
      height: 900px;

      .number_list,
      .line_list {margin: 230px 0}
    }

    .contacts{
      .contacts_content{
        .bg_contacts_img{width: 64%}
      }
    }
  }
}

/*1024*/
@media screen and (max-width: $laptopS){
  body{
    h1{font: normal normal 38px/53px "Neuman", sans-serif}

    h2{font: normal normal 30px/normal "Neuman", sans-serif}

    h3{font: normal normal 21px/normal "Neuman", sans-serif}
  }

  .header {
    .number_list,
    .line_list {
      .scroll_down{top: 7vw}

      .p_pos_line{
        height:110px;

        &:first-child {height: 70px}

        &:last-child{height: 296px}
      }
    }

    .header_menu {
      .line {width: 32%}

      .navbar {
        .nav_list {
          .nav_elem {
            a {font-size: 8px}
          }
        }
      }
    }

    .header_info {
      .header_content{
        margin: 130px 0 0 5.9em;
        .header_title{width: 82%}

        .header_text{
          width: 90%;
          margin: 25% 0 10% 0;
        }
      }
    }
  }

  .main_content{
    .about{
      display: flex;
      padding: 140px 51px 10% 51px;
      background: url("../img/about_tablet.png") no-repeat center 12%, radial-gradient(400px 400px at 50% 80%, rgba(189, 116, 78, 0.1), transparent);


      .about_left_gradient,
      .about_right_gradient{top: 90%}
    }

    .location{
      background: transparent url(../img/map.png) no-repeat center;
      background-size: 100% auto;
    }

    .spec_features{
      background-image: radial-gradient(25% 24vw at 30% 80%, rgba(189, 116, 78, 0.2), transparent);
      height: 1280px;

      .spec_feat_container{
        .spec_feat_info{
          .spec_feat_block{
            .spec_feat_num{
              font: normal normal 40px/normal "Neuman", sans-serif;
              height: 60px;
            }

            .spec_feat_text{
              width: 100%;
              text-align: center;
              font-size: 14px;
            }
          }
        }

        .order_viewing{
          .video_viewing{
            .video-js{
              .vjs-big-play-button{
                .vjs-icon-placeholder{
                  &:before{left: 29.6%}
                }
              }
            }
          }

          .order_view_content {
            bottom: 30px;
            margin-top: 0;
          }
        }
      }
    }

    .apartments {
      .apartments_content {
        .filters{
          label{font-size: 14px}
        }
      }
    }

    .choose_apartment{
      background: #141416 url("../img/apartaments_tablet.png") no-repeat center;
      height: 650px;

      .number_list,
      .line_list {margin: 150px 0}
    }

    .contacts{
      .contacts_content{
        font-size: 13px;
        .contact_info{
          .contacts_form {

            input{
              padding: 0.782em 0.75em;
            }

            .form_send{margin-top: 80px}
          }
        }
        .line{
          top: 70%;
        }

        .bg_contacts_img{
          height: 600px;
          width: 60%;
        }
      }



      }
    }

  }

/*900*/
@media screen and (max-width: $tabletL) {
  body {
    h1 {font: normal normal 4.3vw/53px "Neuman", sans-serif}

    input {padding: 0.782em 0.75em}
  }

  .header {
    .number_list,
    .line_list {
      .scroll_down {
        left: 85px;
        top: 8vw;
        width: 170px;

        a {margin: 0 0 0 20px}
      }
    }

    .header_menu {
      .line {
            margin: 0 10px;
            width: 55%;
          }

      .logo{width: 28%}

      .mob_btn {
        display: block;
        width: 48px;
        height: 40px;
        background: url(../img/sprite.png) no-repeat -0 -220px;
      }

      .navbar {display: none}
      
      .mobile_navbar{
        position: absolute;
        width: 100%;
        background: url(../img/header_big.png) no-repeat center;
        background-size: 100% 100%;
        left: 0;
        top: 0;
        z-index: 100;
        height: 100%;
        padding: 0 51px;
        flex-flow: column nowrap;
        box-sizing: border-box;

        .head_mobile{
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 43px;

          .line{
            background: #141416;
            height: 1px;
            width: 60%;
            opacity: 0.47;
          }

          .logo{
            width: 28%;
          }

          .exit_mob_menu{
            font: bold normal 60px/0 "Neuman", sans-serif;
            text-align: center;
            position: relative;
            left: 2px;
            bottom: 4px;
            line-height: 30px;
            background: $gradientText;
            -webkit-background-clip: text;
            -webkit-text-fill-color: #0000;
            display: inline-block;
          }
        }

        .nav_mob_list{
          border: 1px solid rgba(0,0,0,0.47);
          border-top: 0;
          height: 100%;
          margin-top: 48px;
          .nav_mob_elem{
            text-align: center;

            &:not(:first-child){
              margin-top: 20px;
            }

            a{
              font-size: 5vw;
              opacity: 0.9;
              color: $lightGrey;
            }
          }
        }
        
        &.active{
          display: flex;
        }
      }
    }

    .header_info {
      .header_content {
        margin: 130px 0 0 5.9em;

        .header_title {width: 100%}

        .header_text {
          margin: 124px 0 44px 0;
          width: 100%;
        }
      }
    }

    .bottom_line {bottom: 20px}
  }

  .main_content {
    .about {
      padding: 140px 51px 2% 51px;
      background: url("../img/about_mobile.png") no-repeat center 11%, radial-gradient(400px 400px at 50% 80%, rgba(189, 116, 78, 0.1), transparent);
      .about_content {

        .about_info {
          flex-flow: column;
          margin-top: 180px;

          .about_block {
            width: 80%;
            margin: 0 auto 30px auto;


            .about_block_num {
              display: block;
              text-align: center;
            }

            .about_info_title {text-align: center}

            .about_info_text {text-align: justify}
          }
        }

        .price_block {width: 80%}

        .about_specifications {
          justify-content: space-between;

          .spec_block {
            width: 30%;
            flex-flow: column wrap;
            align-items: center;
            margin-bottom: 4%;

            &:before {
              margin-right: 0;
              margin-top: 0;
            }

            .spec_text {text-align: center}
          }
        }
      }
    }

    .spec_features {
      background-image: radial-gradient(40% 38vw at 50% 65%, rgba(189, 116, 78, 0.2), transparent); //
      min-height: 1600px;

      .number_list,
      .line_list {margin: 170px 0}

      .spec_feat_container {
        padding: 0;

        .spec_feat_title {
          padding-top: 40px;
          background: transparent url("../img/advantages.png") no-repeat 50% 0;
          background-size: 100% auto;
          height: 100px;
        }

        .order_viewing {
          padding: 0;
          margin: 0 auto 50px auto;
          position: relative;
          width: 80%;




          .video_viewing {
            position: relative;
            width: 59vw;
            margin: 0 auto;

            .video-js {
              width: 59vw;
              height: 48vw;

              .vjs-tech {border-radius: 10px}


              .vjs-big-play-button {
                top: 42.6%;
                left: 35%;
                font-size: 1vw;

                .vjs-icon-placeholder {
                  &:before {left: 35%}
                }
              }


              &.active {
                animation: animForVideo 0.5s ease-out 0s 1 alternate forwards
              }
            }

            video {
              width: 59vw; //
              height: 50.4vw;
            }
          }

          .order_view_content {
            width: 59vw;
            margin: 0 auto 100px auto;
            float: none;
            bottom: 0;
            text-align: center;

            .order_view_text{
              width: 100%;
            }

            .order_view_form {
              input {
                width: 100%;
                margin-top: 20px;
                font-size: 14px;
              }

              .send_block {
                .form_send {margin-top: 30px}
              }
            }
          }
        }
      }
    }

    .apartments {
      padding: 0 51px 100px 51px;
      .apartments_content {
        .filters {
          width: 100%;
          flex-flow: column;
          align-items: center;

          .filter_price,
          .filter_square {width: 70%}

          .filter_square {margin-top: 50px}

          .filters_btn {margin-top: 50px}
        }

        .line {width: 70%;}

        .see_more {margin-top: 40px}

        .apartments_blocks {
          flex-flow: column wrap;
          align-content: center;
          width: 100%;

          .room_block {
            width: 100%;

            &:not(:nth-child(2n)){margin-right: 0}


            .room_title {font-size: 25px}


            .room_specifications{
              width: 100%;
              font-size: 1.9vw;
              line-height: 24px;
              display: flex;
              flex-flow: row wrap;
              align-items: flex-end;
              justify-content: space-around;
              text-align: center;

              .room_count,
              .room_floor,
              .room_size,
              .room_price{
                width: 23%;
                &:not(:last-child){margin-right: 2%}

                &:before{
                  content: "";
                  display: inline-block;
                  margin-right: 2px;
                  position: relative;
                  top: 7px;
                  transform: scale(1);
                  background: url(../img/sprite.png) no-repeat ;
                }
              }

              .room_count:before{@include apartmentIco(25px, 25px, -14px, -20px)}

              .room_floor:before{
                @include apartmentIco(25px, 34px, -12px, -60px);
                top: 9px;
              }

              .room_size:before{@include apartmentIco(28px, 23px, -18px, -110px)}

              .room_price:before{@include apartmentIco(25px, 21px, -14px, -142px)}

            }


          }
        }
      }
    }

    .choose_apartment {
      padding: 50px 51px 0 51px;
      height: 700px;

      .number_list,
      .line_list {margin: 150px 0}
    }

    .contacts {
      background-image: radial-gradient(400px 300px at 30% 60%, rgba(189, 116, 78, 0.15), transparent);

      .number_list,
      .line_list {margin: 250px 0 0 0}

      .contacts_content {
        margin: 10% 0 0 6.4%;

        .contact_info {
          height: 530px;
          margin-left: 0;
          width: 100%;

          .contacts_list {margin: 30px 0 50px 0}

          .contacts_form {
            .form_send {margin-top: 50px}
          }
        }

        .line {top: 74%;}

        .bg_contacts_img {
          width: 58%;
          height: 530px;

        }
      }
    }
  }
}

/*730*/
@media screen and (max-width: $tabletM){

  .number_list {
    .number_elem {
      font: normal normal 10px/normal 'Neuman', sans-serif;
      margin: 10px 4px 10px 0;

      &:nth-child(2){
        margin-top: 1px;
        margin-bottom: 4px;
      }

      &:nth-child(6){margin:14px 4px 15.5px 0}
    }

    .active_num{font-size: 12px}
  }

  .line_list {
    width: 21px;
    .line_elem {
      width: 10px;
      margin: 17.5px 4px 14.5px 0;

      &:nth-child(2){margin-top: 10px}
    }

    .active_line{width: 20px}

    .scroll_down{display: none !important}
  }


  body {
      h1 {
        font: normal normal 4.3vw/33px "Neuman", sans-serif;
      }
    }

  .header {
    .number_list,
    .line_list {
      .p_pos_line{
        height: 74px;
        margin-bottom: 20px;

        &:first-child {
          height: 50px;
          margin-top: 12px;
        }

        &:last-child{
          height: 80px;
          margin-top: 0;
        }
      }
    }

    background: transparent url("../img/header_tablet.png") no-repeat ;
    background-size: 100%;
    padding: 0 21px;

    .header_menu {
      .logo{
        height: 30px;
        width: 200px;
      }

      .mobile_navbar{
        padding: 0 21px;

        .head_mobile{
          .logo{
            height: 30px;
            width: 200px;
          }
        }
      }
    }

    .header_info {
      .header_content {
        margin: 50px 2em 0 2em;

        .header_text {margin: 14px 0 14px 0}
      }
    }

    .bottom_line{

    }
  }

  .main_content {
    .about {
          padding: 40px 5px 2% 5px;
          background: url("../img/about_mobile.png") no-repeat center 5%, radial-gradient(400px 400px at 50% 80%, rgba(189, 116, 78, 0.1), transparent);


          .about_left_gradient,
          .about_right_gradient {display: none}


          .about_content {
            .price_block {
              .price_title {font-size: 14px}

              .price_number {font: normal normal 30px/normal "Neuman", sans-serif}
            }

            .about_specifications {
              .spec_block {
                .spec_text {width: 81%}
              }
            }
          }
        }

    .location {
      background: transparent url(../img/map_mobile.png) no-repeat center;
      padding: 0 5px;

      .location_content {
        .location_title {
          margin-top: 100px;
          font-size: 20px;
        }

        .location_list {
          margin-top: 10px;

          .location_elem {font-size: 12px}
        }
      }
    }

    .spec_features {
      padding: 0 5px;
      background-image: radial-gradient(40% 38vw at 50% 61%, rgba(189, 116, 78, 0.2), transparent);
      min-height: 1600px;


      .spec_feat_container {
        .spec_feat_info {
          background-image: radial-gradient(200px 200px at 50% 46%, rgba(189, 116, 78, 0.05), transparent);
          padding: 20px 0;

          .spec_feat_block {
            width: 46%;

            .spec_feat_num {
              font: normal normal 30px/normal "Neuman", sans-serif;
              width: 46px;
              height: 46px;
            }

            .spec_feat_text {
              line-height: 20px;
              font-size: 12px;
            }
          }
        }

        .order_viewing {
          .video_viewing {
            .video-js {
              .vjs-big-play-button {
                font-size: 1.3vw;
                .vjs-icon-placeholder {
                  &:before {left: 30.5%}
                }
              }
            }
          }
        }
      }
    }

    .gallery {padding: 10% 5px 0 5px}

    .apartments {
      padding: 0 5px 100px 5px;

      .number_list,
      .line_list {margin: 300px 0}

      .apartments_content {
        .apartments_blocks {
          .room_block {
            .room_specifications {
              font-size: 2.5vw;
            }
          }
        }
      }
    }

    .choose_apartment{
      background: #141416 url("../img/apartaments_mobile.png") no-repeat 30% 50%;
      background-size: 100% auto;
      height: 70vw;
      padding: 0 5px 50px 5px;

      .line_list,
      .number_list{
        margin: 100px 0;
      }
    }

    .contacts {
      padding: 0 5px 0 5px;

      .contacts_content {
        margin: 10% 0 0 0;
        text-align: center;

        .contact_info {
          width: 100%;
          margin-left: 0;

          .contacts_title{
            margin-top: 30px;
          }

          .contacts_form {
            input{
              width: 90%;
              margin-top: 20px;
              font-size: 16px;
            }

            input:not(:last-of-type) {margin-right: 0}
          }
        }

        .bg_contacts_img {
          width: 100%;
          height: 630px;
        }
      }
    }
  }
}

/*530*/
@media screen and (max-width: $tabletS){

  body {
    h1 {font: normal normal 4.3vw/33px "Neuman", sans-serif}
  }

  .header {
    background: transparent url("../img/header_tablet.png") no-repeat;
    background-size: 100% auto;
    padding: 0 5px;

    .header_menu{
      .mobile_navbar{padding: 0 5px}
    }

    .header_info {
      .header_content {
        margin: 50px 2em 0 2em;

        .header_text {margin: 14px 0 14px 0}
      }
    }
  }

  .main_content {
    .about {
      padding: 40px 5px 2% 5px;//
      background: url("../img/about_mobile.png") no-repeat center 5%, radial-gradient(400px 400px at 50% 80%, rgba(189, 116, 78, 0.1), transparent);//

      .about_left_gradient,
      .about_right_gradient {display: none}

      .about_content {
        .price_block {
          .price_title {font-size: 14px}

          .price_number {font: normal normal 30px/normal "Neuman", sans-serif}
        }

        .about_specifications {
          .spec_block {
            .spec_text {width: 81%}
          }
        }
      }
    }

    .location {
      background: transparent url(../img/map_mobile.png) no-repeat center;
      background-size: 100% auto;
      padding: 0 5px;

      .location_content {
        .location_title {
          margin-top: 80px;
          font-size: 4vw;
        }

        .location_sec_title{font-size: 3.5vw}

        .location_list {
          .location_elem {font-size: 12px}
        }
      }
    }

    .spec_features {
      padding: 0 5px;
      background-image: radial-gradient(40% 38vw at 50% 59%, rgba(189, 116, 78, 0.2), transparent);
      min-height: 1650px;

      .spec_feat_container {
        .spec_feat_info {
          background-image: radial-gradient(200px 200px at 50% 46%, rgba(189, 116, 78, 0.05), transparent);
          padding: 20px 0;

          .spec_feat_block {
            width: 46%;


            .spec_feat_num {
              font: normal normal 30px/normal "Neuman", sans-serif;
              width: 46px;
              height: 46px;
            }

            .spec_feat_text {
              line-height: 20px;
              text-align: center;
              font-size: 12px;
            }
          }
        }

        .order_viewing {
          .video_viewing {
            .video-js {
              .vjs-big-play-button {
                top: 40%;
                width: 50%;
                left: 25%;
                font-size: 2vw;

                .vjs-icon-placeholder {
                  &:before {left: 33.5%}
                }
              }


              &.active {
                animation: animForVideo 0.5s ease-out 0s 1 alternate forwards
              }
            }

            video {
              width: 59vw;
              height: 50.4vw;
            }
          }
        }
      }
    }

    .gallery {padding: 10% 5px 0 5px}

    .apartments {
      padding: 0 5px 50px 5px;

      .apartments_content {
        .apartments_blocks {
          .room_block {
            .room_title{font-size: 20px}

           .room_specifications{
             flex-flow: row wrap;
             justify-content: space-between;
             align-items: center;
             width: 80%;
             margin: 0 auto;


             .room_count,
             .room_floor,
             .room_size,
             .room_price {
               width: 40%;
               text-align: left;
               margin-top: 10px;

               &:not(:last-child){
                 margin-right: 0;}


               &:before {transform: scale(0.8)}
             }
           }
          }
        }
      }
    }

    .choose_apartment{

      .line_list,
      .number_list{
        margin: 50px 0;
      }
    }

    .contacts {
      padding: 0 5px 0 5px;

      .contacts_content {
        margin: 10% 0 0 0;
        text-align: center;

        .contact_info {
          margin-left: 0;

          .contacts_form {
            input{
              width: 90%;
              margin-top: 20px;
              font-size: 16px;
            }

            input:not(:last-of-type) {margin-right: 0}
          }
        }

        .bg_contacts_img {
          width: 100%;
          height: 630px;
        }
      }
    }
  }
}

/*438*/
@media screen and (max-width: $mobileM) {

  body {
    h1 {font: normal normal 4.3vw/33px "Neuman", sans-serif};

    h2{
      font: normal normal 22px/normal "Neuman", sans-serif;
      color: $lightWhite;
      margin: 0;
    }

    h3{
      font: normal normal 20px/normal "Neuman", sans-serif;
      color: $mainBrown;
      margin: 0;
    }
  }

  .number_list {
    .number_elem {
      font: normal normal 6px/normal 'Neuman', sans-serif;
      margin-bottom: 4px;

      &:nth-child(2){margin-bottom: 4px}

      &:nth-child(6){margin:10px 4px 5px 0}
    }

    .active_num{font-size: 8px}
  }

  .line_list {
    width: 15px;
    .line_elem {
      width: 5px;
      margin: 11.5px 4px 11.5px 0;

      &:nth-child(2){margin-top: 10px}
    }

    .active_line{width: 15px}
  }

  .header {

    .number_list,
    .line_list {
      .p_pos_line{
        height: 29px;
        margin-bottom: 9px;

        &:first-child {
          height: 40px;
          margin-top: 12px;
        }

        &:last-child{
          height: 45px;
          margin-top: 14px;
        }
      }
    }

    .header_menu{
      padding-top:10px ;

      .line {
        margin: 0 10px;
        width: 61%;
      }

      .mob_btn {
        display: block;
        width: 48px;
        height: 40px;
        background: url(../img/sprite.png) no-repeat -0 -220px;
      }

      .mobile_navbar{
        padding: 0 5px;

        .head_mobile{padding-top: 30px}

        .nav_mob_list{
          margin-top: 30px;

          .nav_mob_elem{
            &:not(:first-child){margin-top: 16px}
          }
        }
      }
    }


    .header_info {
      .header_content {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-top: 0;

        .header_title {text-align: center}

        .header_text {display: none}

        .order {
          margin-top: 30px;
        }
      }
    }

    .bottom_line{
      bottom: 10px;
    }
  }

  .main_content {
    .about {
      background-size: 100% auto;
      padding: 40px 5px 40px 5px;

      .about_content {
        .about_info {
          .about_block {
            .about_info_text {text-align: center}
          }
        }

        .price_block {
          .price_title {
            padding: 6% 2% 0 2%;
            font-size: 12px;
          }

          .price_number {
            padding: 2% 2% 4% 2%;
            font: normal normal 26px/normal "Neuman", sans-serif;
          }
        }

        .about_specifications {
          .spec_block {
            width: 45%;

          .spec_text {width: 86%}
          }
        }
      }
    }

    .location {
      background: transparent url(../img/map_mobile.png) no-repeat center;
      background-size: 100% auto;
      height: 400px;

      .number_list,
      .line_list {
        position: relative;
        top: 10px;
        margin: 120px 0;
      }

      .location_content {
        .location_title {
          text-align: center;
          margin-top: 0;
          font-size: 22px;
        }

        .location_sec_title{
          text-align: center;
          font-size: 18px;
          margin-bottom: 10px;
          padding-bottom: 5px;
          border-bottom: 1px solid $mainBrown;
        }

        .location_list {
          margin-top: 65px;

          .location_elem {
            line-height: 12px;

            .location_travel_time {
              strong {font-size: 8px}
            }
          }
        }
      }
    }

    .spec_features {
      background-image: radial-gradient(40% 38vw at 50% 54%, rgba(189, 116, 78, 0.2), transparent);
      min-height: 1550px;

      .spec_feat_container {

        .spec_feat_title{
          font-size: 22px;
          height: 80px;
        }

        .spec_feat_info {
          background-image: radial-gradient(140px 140px at 50% 46%, rgba(189, 116, 78, 0.05), transparent);

          .spec_feat_block {
            .spec_feat_text {
              letter-spacing: 0.1em;
              font-size: 10px;
            }
          }
        }

        .order_viewing {
          .video_viewing {
            .video-js {
              .vjs-big-play-button {
                width: 50%;
                top: 38%;

                &:after {display: none}

                .vjs-icon-placeholder {
                  &:before {
                    left: 30.2%;
                    transform: scale(0.8);
                  }
                }
              }
            }
          }

          .order_view_content {
            width: 59vw;
            margin: 0 auto 100px auto;
            position: relative;
            float: none;
            bottom: 0;
            text-align: center;

            .order_view_text {width: 100%}

            .order_view_form{
              .send_block{
                text-align: center;
              }
            }
          }
        }
      }
    }

    .gallery{
      .gallery_sec_title{

      }
    }

    .apartments {
      .apartments_content {
        .apartments_blocks {
          .room_block {
            .room_specifications {
              font-size: 3vw;

              .room_count,
              .room_floor,
              .room_size,
              .room_price {
                &:before {transform: scale(0.7)}
              }
            }
          }
        }
      }
    }

    .choose_apartment {
      background-position: 30% 100%;
      background-size: 100% auto;
      padding: 0 5px;
      height: 70vw;

      .number_list,
      .line_list {margin: 50px 0}


    }

    .contacts {
      .contacts_content {
        .contact_info {
          .contacts_title{margin-top: 30px}

          .contacts_list {font-size: 12px}
        }
      }
    }
  }
}

/*386*/
@media screen and (max-width: $bagFixMobile){
  .main_content{
    .spec_features{
      height: 1700px;
    }

    .choose_apartment {
      .ch_apartment_title{
        font-size: 18px;
      }

      .ch_apartment_sec_title{
        font-size: 15px;
      }


    }

  }
}

/*300*/
@media screen and (max-width: $mobileS){



  .main_content{
    .spec_features {
      .spec_feat_container {
        .order_viewing{
          .video_viewing {
            .video-js {
              .vjs-big-play-button {
                top: 34%;

                .vjs-icon-placeholder {
                  &:before {left: 25%;}
                }
              }
            }
          }
        }
      }
    }
  }
}




