$Four_K: 4096px;
$Two_K: 2048px;
$laptopEL: 1680px;
$laptopL: 1441px;
$laptopM: 1280px;
$bagFixLaptop: 1134px;
$laptopS: 1024px;
$tabletL: 900px;
$tabletM: 730px;
$tabletS: 530px;
$mobileM: 438px;
$bagFixMobile:400px;
$mobileS: 330px;
