@font-face {
  font-family: Proxima Nova;
  src: url("../fonts/Proxima_Nova_Regular.otf") format("truetype"); }

@font-face {
  font-family: Neuman;
  src: url("../fonts/td-neumann.otf") format("truetype"); }

body {
  background: #141416;
  font-family: "Proxima Nova", sans-serif;
  color: #DFDFDF; }
  body a {
    text-decoration: none; }
  body ul {
    list-style: none;
    padding: 0; }
  body button:focus,
  body input:focus {
    outline: none; }
  body input {
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 1px solid #DFDFDF;
    padding: 0.782em 0.75em;
    color: #DFDFDF;
    background: rgba(255, 255, 255, 0); }
  body h1 {
    font: normal normal 54px/63px "Neuman", sans-serif;
    color: #FFE1D2; }
  body h2 {
    font: normal normal 45px/normal "Neuman", sans-serif;
    color: #FFE1D2;
    margin: 0; }
  body h3 {
    font: normal normal 36px/normal "Neuman", sans-serif;
    color: #BD744E;
    margin: 0; }
  body p {
    font: normal normal 14px/24px "Proxima Nova", sans-serif;
    color: #DFDFDF; }

.header {
  background: black url("../img/header.png") no-repeat center;
  padding: 0 51px;
  height: 1000px; }
  .header .header_menu {
    padding-top: 26px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header .header_menu .line {
      background: #141416;
      height: 1px;
      width: 41%;
      opacity: 0.47; }
    .header .header_menu .navbar .nav_list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
      .header .header_menu .navbar .nav_list .nav_elem a {
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-size: 10px;
        color: #DFDFDF; }
      .header .header_menu .navbar .nav_list .nav_elem:not(:last-child) {
        margin-right: 20px; }
  .header .header_info {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header .header_info .number_list,
    .header .header_info .line_list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      margin: 0; }
      .header .header_info .number_list .p_pos_line,
      .header .header_info .line_list .p_pos_line {
        background: #141416;
        opacity: 0.47;
        height: 210px;
        width: 1px;
        margin-bottom: 40px; }
        .header .header_info .number_list .p_pos_line:first-child,
        .header .header_info .line_list .p_pos_line:first-child {
          height: 170px;
          width: 1px;
          margin-top: 22px; }
        .header .header_info .number_list .p_pos_line:last-child,
        .header .header_info .line_list .p_pos_line:last-child {
          height: 396px;
          width: 1px;
          margin-top: 22px; }
    .header .header_info .number_list {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .header .header_info .number_list .number_elem {
        font: normal normal 12px/normal 'Neuman', sans-serif;
        color: #BD744E;
        margin: 10px 4px 12px 0; }
        .header .header_info .number_list .number_elem:nth-child(2) {
          margin: 5px 4px 18px 0; }
        .header .header_info .number_list .number_elem:nth-child(6) {
          margin: 15px 4px 30px 0; }
      .header .header_info .number_list .active_num {
        color: #FFE1D2;
        font-size: 16px; }
    .header .header_info .line_list .line_elem {
      background: #BD744E;
      margin: 10px 4px 30px 0;
      width: 20px;
      height: 1px; }
      .header .header_info .line_list .line_elem:nth-child(2) {
        margin-top: 16px; }
    .header .header_info .line_list .active_line {
      background: #FFE1D2;
      width: 40px; }
    .header .header_info .line_list .scroll_down {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg);
      position: relative;
      left: 100px;
      top: 7vw;
      width: 200px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .header_info .line_list .scroll_down a {
        font-size: 10px;
        letter-spacing: 0.2em;
        display: inline-block;
        color: #BD744E; }
      .header .header_info .line_list .scroll_down .scroll_line {
        background-color: #BD744E;
        width: 30px;
        margin-left: 10px;
        height: 1px; }
    .header .header_info .header_content {
      width: auto;
      margin: 260px 0 0 5.9em; }
      .header .header_info .header_content .header_title {
        margin: 0;
        width: 62%; }
        .header .header_info .header_content .header_title span {
          color: #BD744E; }
      .header .header_info .header_content .header_text {
        margin: 174px 0 44px 0;
        width: 44%; }
      .header .header_info .header_content .order {
        background-color: rgba(255, 255, 255, 0);
        padding: 0;
        border: none;
        cursor: pointer;
        line-height: 0; }
        .header .header_info .header_content .order:hover img {
          -webkit-box-shadow: 0 0 2px 2px red;
                  box-shadow: 0 0 2px 2px red;
          -webkit-border-radius: 4px;
                  border-radius: 4px; }
  .header .bottom_line {
    background-color: #141416;
    width: 100%;
    height: 1px;
    position: relative;
    bottom: 40px; }

.main_content .number_list,
.main_content .line_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 100px 0;
  position: relative; }

.main_content .number_list {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .main_content .number_list .number_elem {
    font: normal normal 12px/normal 'Neuman', sans-serif;
    color: #BD744E;
    margin: 10px 4px 12px 0; }
    .main_content .number_list .number_elem:nth-child(2) {
      margin: 5px 4px 18px 0; }
    .main_content .number_list .number_elem:nth-child(6) {
      margin: 15px 4px 30px 0; }
  .main_content .number_list .active_num {
    color: #FFE1D2;
    font-size: 16px; }

.main_content .line_list .line_elem {
  background: #BD744E;
  margin: 10px 4px 30px 0;
  width: 20px;
  height: 1px; }
  .main_content .line_list .line_elem:nth-child(2) {
    margin-top: 16px; }

.main_content .line_list .active_line {
  background: #FFE1D2;
  width: 40px; }

.main_content .about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 200px 51px 200px 51px;
  background: url("../img/about.png") no-repeat center 21%; }
  .main_content .about .about_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5; }
    .main_content .about .about_content .about_title,
    .main_content .about .about_content .about_sec_title {
      text-align: center; }
    .main_content .about .about_content .about_info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      margin-top: 500px; }
      .main_content .about .about_content .about_info .about_block {
        width: 32%;
        margin-bottom: 90px; }
        .main_content .about .about_content .about_info .about_block .about_block_num {
          font: normal normal 45px/normal "Neuman", sans-serif;
          background: -webkit-linear-gradient(0, #FFE1D2, #fff);
          color: #FFE1D2;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          display: inline-block; }
        .main_content .about .about_content .about_info .about_block .about_info_title {
          text-transform: uppercase;
          margin-top: 0;
          font-size: 16px;
          letter-spacing: 0.2em; }
    .main_content .about .about_content .price_block {
      background: #212121;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column nowrap;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      padding: 10px;
      margin: 0 auto;
      width: 45%;
      text-align: center;
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
              box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
      -webkit-border-radius: 5px;
              border-radius: 5px; }
      .main_content .about .about_content .price_block .price_title,
      .main_content .about .about_content .price_block .price_number {
        border: 1px solid #434343; }
      .main_content .about .about_content .price_block .price_title {
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        border-bottom: 0;
        padding: 4% 0 0 0; }
      .main_content .about .about_content .price_block .price_number {
        font: normal normal 45px/normal "Neuman", sans-serif;
        border-top: 0;
        padding: 2% 0 2% 0;
        color: #FFE1D2; }
    .main_content .about .about_content .about_specifications {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 70%;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      margin-top: 100px; }
      .main_content .about .about_content .about_specifications .spec_block {
        width: 22%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 2%; }
        .main_content .about .about_content .about_specifications .spec_block:before {
          content: '';
          width: 32px;
          height: 38px;
          display: inline-block;
          margin-right: 20px;
          background: url(../img/sprite.png) no-repeat -4px -172px; }
        .main_content .about .about_content .about_specifications .spec_block .spec_text {
          text-transform: uppercase;
          font-size: 14px;
          width: 70%;
          line-height: 21px; }
    .main_content .about .about_content .gradient {
      background: -webkit-radial-gradient(#BD744E 1%, #111 60%);
      background: -o-radial-gradient(#BD744E 1%, #111 60%);
      background: radial-gradient(#BD744E 1%, #111 60%);
      opacity: 1; }

.main_content .location {
  background: black url(../img/map.png) no-repeat center;
  padding: 136px 51px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: auto; }
  .main_content .location .location_content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 6.4%; }
    .main_content .location .location_content .location_title {
      margin-top: 32px; }
    .main_content .location .location_content .location_list {
      margin-top: 50px; }
      .main_content .location .location_content .location_list .location_elem {
        margin-bottom: 2%;
        line-height: 21px; }
        .main_content .location .location_content .location_list .location_elem .location_travel_time strong {
          text-transform: uppercase; }

.main_content .spec_features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 51px; }
  .main_content .spec_features .spec_feat_container {
    text-align: center; }
    .main_content .spec_features .spec_feat_container .spec_feat_title {
      z-index: 100;
      padding-top: 160px;
      background: #141416 url("../img/advantages.png") no-repeat center;
      height: 100px; }
    .main_content .spec_features .spec_feat_container .spec_feat_info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      background-image: -webkit-radial-gradient(50% 50%, 300px 300px, rgba(189, 116, 78, 0.05), #141416);
      background-image: -o-radial-gradient(50% 50%, 300px 300px, rgba(189, 116, 78, 0.05), #141416);
      background-image: radial-gradient(300px 300px at 50% 50%, rgba(189, 116, 78, 0.05), #141416);
      padding: 100px 0; }
      .main_content .spec_features .spec_feat_container .spec_feat_info .spec_feat_block {
        margin-bottom: 100px;
        width: 30%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column nowrap;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        .main_content .spec_features .spec_feat_container .spec_feat_info .spec_feat_block .spec_feat_num {
          border: 1px solid #fff;
          font: normal normal 45px/normal "Neuman", sans-serif;
          width: 67px;
          height: 67px;
          margin-bottom: 20px; }
        .main_content .spec_features .spec_feat_container .spec_feat_info .spec_feat_block .spec_feat_text {
          letter-spacing: 0.2em;
          width: 90%;
          text-transform: uppercase; }
    .main_content .spec_features .spec_feat_container .order_viewing {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .main_content .spec_features .spec_feat_container .order_viewing .video_viewing {
        width: 70%;
        position: relative; }
      .main_content .spec_features .spec_feat_container .order_viewing .order_view_content {
        width: 60%;
        text-align: left;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column nowrap;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-align-self: flex-start;
            -ms-flex-item-align: start;
                align-self: flex-start;
        position: relative;
        float: right; }
        .main_content .spec_features .spec_feat_container .order_viewing .order_view_content .line {
          background: -webkit-gradient(linear, right top, left top, color-stop(25.73%, #141416), color-stop(104.43%, rgba(255, 255, 255, 0))), #BD744E;
          background: -webkit-linear-gradient(right, #141416 25.73%, rgba(255, 255, 255, 0) 104.43%), #BD744E;
          background: -o-linear-gradient(right, #141416 25.73%, rgba(255, 255, 255, 0) 104.43%), #BD744E;
          background: linear-gradient(270deg, #141416 25.73%, rgba(255, 255, 255, 0) 104.43%), #BD744E;
          height: 1px;
          width: 100%; }
        .main_content .spec_features .spec_feat_container .order_viewing .order_view_content .order_view_form {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-flow: row wrap;
              -ms-flex-flow: row wrap;
                  flex-flow: row wrap;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start; }
          .main_content .spec_features .spec_feat_container .order_viewing .order_view_content .order_view_form input {
            -webkit-border-radius: 5px;
                    border-radius: 5px;
            border: 1px solid #DFDFDF;
            padding: 0.782em 0.75em;
            color: #DFDFDF;
            background: rgba(255, 255, 255, 0); }
            .main_content .spec_features .spec_feat_container .order_viewing .order_view_content .order_view_form input:not(:last-of-type) {
              margin-right: 2.4%; }
          .main_content .spec_features .spec_feat_container .order_viewing .order_view_content .order_view_form .form_send {
            border: none;
            background: inherit;
            color: #DFDFDF;
            font-size: 14px;
            line-height: 24px;
            font-weight: bold;
            cursor: pointer; }
            .main_content .spec_features .spec_feat_container .order_viewing .order_view_content .order_view_form .form_send:after {
              content: "";
              display: inline-block;
              background: url(../img/sprite.png) -4px 0px no-repeat;
              position: relative;
              top: 3px;
              left: 8px;
              width: 25px;
              height: 13px; }

.main_content .gallery {
  padding: 200px 51px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  background-image: -webkit-radial-gradient(50% 60%, 600px 400px, rgba(189, 116, 78, 0.2), #141416);
  background-image: -o-radial-gradient(50% 60%, 600px 400px, rgba(189, 116, 78, 0.2), #141416);
  background-image: radial-gradient(600px 400px at 50% 60%, rgba(189, 116, 78, 0.2), #141416); }
  .main_content .gallery .gallery_content .gallery_sec_title {
    margin-bottom: 30px; }
  .main_content .gallery .gallery_content .gallery_images {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    margin: 0 auto; }
    .main_content .gallery .gallery_content .gallery_images img {
      -webkit-border-radius: 5px;
              border-radius: 5px; }
    .main_content .gallery .gallery_content .gallery_images .first_img_sect {
      width: 50%; }
      .main_content .gallery .gallery_content .gallery_images .first_img_sect img:last-child {
        margin-top: 22px; }
      .main_content .gallery .gallery_content .gallery_images .first_img_sect img {
        max-width: 100%; }
    .main_content .gallery .gallery_content .gallery_images .second_img_sect {
      width: 30%; }
      .main_content .gallery .gallery_content .gallery_images .second_img_sect img {
        max-width: 100%; }
    .main_content .gallery .gallery_content .gallery_images .third_img_sect {
      width: 17.8%; }
      .main_content .gallery .gallery_content .gallery_images .third_img_sect img {
        max-width: 100%; }
      .main_content .gallery .gallery_content .gallery_images .third_img_sect img:not(:first-child) {
        margin-top: 22px; }

.main_content .apartments {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 200px 51px; }
  .main_content .apartments .apartments_content {
    text-align: center; }
    .main_content .apartments .apartments_content .filters {
      text-align: left;
      width: 80%;
      margin: 50px auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .main_content .apartments .apartments_content .filters .filter_price,
      .main_content .apartments .apartments_content .filters .filer_square {
        width: 30%; }
        .main_content .apartments .apartments_content .filters .filter_price .irs .irs-line,
        .main_content .apartments .apartments_content .filters .filer_square .irs .irs-line {
          height: 2px;
          width: 99%;
          background-color: #434343; }
        .main_content .apartments .apartments_content .filters .filter_price .irs .irs-min,
        .main_content .apartments .apartments_content .filters .filter_price .irs .irs-max,
        .main_content .apartments .apartments_content .filters .filer_square .irs .irs-min,
        .main_content .apartments .apartments_content .filters .filer_square .irs .irs-max {
          display: none; }
        .main_content .apartments .apartments_content .filters .filter_price .irs .irs-from,
        .main_content .apartments .apartments_content .filters .filter_price .irs .irs-to,
        .main_content .apartments .apartments_content .filters .filer_square .irs .irs-from,
        .main_content .apartments .apartments_content .filters .filer_square .irs .irs-to {
          top: 50px;
          background: none;
          font-size: 14px;
          line-height: 24px; }
        .main_content .apartments .apartments_content .filters .filter_price .irs .irs-from:before,
        .main_content .apartments .apartments_content .filters .filter_price .irs .irs-to:before,
        .main_content .apartments .apartments_content .filters .filer_square .irs .irs-from:before,
        .main_content .apartments .apartments_content .filters .filer_square .irs .irs-to:before {
          display: none; }
        .main_content .apartments .apartments_content .filters .filter_price .irs .irs-bar,
        .main_content .apartments .apartments_content .filters .filer_square .irs .irs-bar {
          height: 2px;
          background-color: #FFE1D2; }
        .main_content .apartments .apartments_content .filters .filter_price .irs .irs-handle,
        .main_content .apartments .apartments_content .filters .filer_square .irs .irs-handle {
          top: 16px; }
          .main_content .apartments .apartments_content .filters .filter_price .irs .irs-handle > i:first-child,
          .main_content .apartments .apartments_content .filters .filer_square .irs .irs-handle > i:first-child {
            background-color: #BD744E;
            width: 20px;
            height: 20px;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            left: 0; }
      .main_content .apartments .apartments_content .filters .filters_btn {
        border: none;
        background: inherit;
        color: #DFDFDF;
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        cursor: pointer; }
        .main_content .apartments .apartments_content .filters .filters_btn:after {
          content: "";
          display: inline-block;
          background: url(../img/sprite.png) -4px 0px no-repeat;
          position: relative;
          top: 3px;
          left: 8px;
          width: 25px;
          height: 13px; }
    .main_content .apartments .apartments_content .line {
      background: -webkit-gradient(linear, right top, left top, color-stop(25.73%, #141416), color-stop(104.43%, rgba(255, 255, 255, 0))), #BD744E;
      background: -webkit-linear-gradient(right, #141416 25.73%, rgba(255, 255, 255, 0) 104.43%), #BD744E;
      background: -o-linear-gradient(right, #141416 25.73%, rgba(255, 255, 255, 0) 104.43%), #BD744E;
      background: linear-gradient(270deg, #141416 25.73%, rgba(255, 255, 255, 0) 104.43%), #BD744E;
      height: 2px;
      width: 72%;
      z-index: 2;
      margin: 70px auto 120px auto; }
    .main_content .apartments .apartments_content .see_more {
      border: none;
      background: inherit;
      color: #DFDFDF;
      font-size: 14px;
      line-height: 24px;
      font-weight: bold;
      cursor: pointer;
      margin-top: 60px; }
      .main_content .apartments .apartments_content .see_more:after {
        content: "";
        display: inline-block;
        background: url(../img/sprite.png) -4px 0px no-repeat;
        position: relative;
        top: 3px;
        left: 8px;
        width: 25px;
        height: 13px; }
    .main_content .apartments .apartments_content .apartments_blocks {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: 80%;
      margin: 0 auto; }
      .main_content .apartments .apartments_content .apartments_blocks .room_block {
        width: 45%;
        background-color: #212121;
        -webkit-border-radius: 5px;
                border-radius: 5px;
        padding: 2% 2% 60px 2%;
        margin-bottom: 30px; }
        .main_content .apartments .apartments_content .apartments_blocks .room_block:not(:nth-child(2n)) {
          margin-right: 2%; }
        .main_content .apartments .apartments_content .apartments_blocks .room_block .room_title {
          font-size: 24px;
          line-height: 24px; }
        .main_content .apartments .apartments_content .apartments_blocks .room_block img {
          -webkit-border-radius: 5px;
                  border-radius: 5px;
          max-width: 100%; }
        .main_content .apartments .apartments_content .apartments_blocks .room_block .room_specifications {
          font-size: 16px;
          line-height: 24px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: end;
          -webkit-align-items: flex-end;
              -ms-flex-align: end;
                  align-items: flex-end;
          -webkit-justify-content: space-around;
              -ms-flex-pack: distribute;
                  justify-content: space-around; }
          .main_content .apartments .apartments_content .apartments_blocks .room_block .room_specifications .room_count,
          .main_content .apartments .apartments_content .apartments_blocks .room_block .room_specifications .room_floor,
          .main_content .apartments .apartments_content .apartments_blocks .room_block .room_specifications .room_size,
          .main_content .apartments .apartments_content .apartments_blocks .room_block .room_specifications .room_price {
            display: inline-block; }
            .main_content .apartments .apartments_content .apartments_blocks .room_block .room_specifications .room_count:not(:last-child),
            .main_content .apartments .apartments_content .apartments_blocks .room_block .room_specifications .room_floor:not(:last-child),
            .main_content .apartments .apartments_content .apartments_blocks .room_block .room_specifications .room_size:not(:last-child),
            .main_content .apartments .apartments_content .apartments_blocks .room_block .room_specifications .room_price:not(:last-child) {
              margin-right: 2%; }
          .main_content .apartments .apartments_content .apartments_blocks .room_block .room_specifications .room_count:before,
          .main_content .apartments .apartments_content .apartments_blocks .room_block .room_specifications .room_floor:before,
          .main_content .apartments .apartments_content .apartments_blocks .room_block .room_specifications .room_size:before,
          .main_content .apartments .apartments_content .apartments_blocks .room_block .room_specifications .room_price:before {
            content: "";
            display: inline-block;
            margin-right: 2px;
            position: relative;
            top: 7px; }
          .main_content .apartments .apartments_content .apartments_blocks .room_block .room_specifications .room_count:before {
            background: url(../img/sprite.png) -4px -20px no-repeat;
            width: 25px;
            height: 25px; }
          .main_content .apartments .apartments_content .apartments_blocks .room_block .room_specifications .room_floor:before {
            top: 9px;
            background: url(../img/sprite.png) -10px -60px no-repeat;
            width: 14px;
            height: 34px; }
          .main_content .apartments .apartments_content .apartments_blocks .room_block .room_specifications .room_size:before {
            background: url(../img/sprite.png) -8px -110px no-repeat;
            width: 28px;
            height: 23px; }
          .main_content .apartments .apartments_content .apartments_blocks .room_block .room_specifications .room_price:before {
            background: url(../img/sprite.png) -4px -142px no-repeat;
            width: 25px;
            height: 21px; }

.main_content .choose_apartment {
  background: #141416 url("../img/apartaments.png") no-repeat center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 51px 120px 51px;
  text-align: center;
  height: 1000px; }

.main_content .contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 51px 0 51px;
  background-image: -webkit-radial-gradient(30% 50%, 600px 300px, rgba(189, 116, 78, 0.15), #141416);
  background-image: -o-radial-gradient(30% 50%, 600px 300px, rgba(189, 116, 78, 0.15), #141416);
  background-image: radial-gradient(600px 300px at 30% 50%, rgba(189, 116, 78, 0.15), #141416); }
  .main_content .contacts .line_list {
    position: relative;
    z-index: 5; }
  .main_content .contacts .contacts_content {
    width: 100%; }
    .main_content .contacts .contacts_content .contact_info {
      float: left;
      display: inline-block;
      position: relative;
      z-index: 5;
      margin-left: 6.4%;
      height: 600px; }
      .main_content .contacts .contacts_content .contact_info .contacts_list {
        text-transform: uppercase;
        margin: 30px 0 120px 0; }
        .main_content .contacts .contacts_content .contact_info .contacts_list .contacts_elem {
          letter-spacing: 0.2em;
          margin-top: 30px; }
      .main_content .contacts .contacts_content .contact_info .contacts_form input:not(:last-of-type) {
        margin-right: 2.4%; }
      .main_content .contacts .contacts_content .contact_info .contacts_form .form_send {
        border: none;
        background: inherit;
        color: #DFDFDF;
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 70px;
        padding: 0; }
        .main_content .contacts .contacts_content .contact_info .contacts_form .form_send:after {
          content: "";
          display: inline-block;
          background: url(../img/sprite.png) -4px 0px no-repeat;
          position: relative;
          top: 3px;
          left: 8px;
          width: 25px;
          height: 13px; }
    .main_content .contacts .contacts_content .line {
      background: -webkit-gradient(linear, right top, left top, color-stop(25.73%, #141416), color-stop(104.43%, rgba(255, 255, 255, 0))), #BD744E;
      background: -webkit-linear-gradient(right, #141416 25.73%, rgba(255, 255, 255, 0) 104.43%), #BD744E;
      background: -o-linear-gradient(right, #141416 25.73%, rgba(255, 255, 255, 0) 104.43%), #BD744E;
      background: linear-gradient(270deg, #141416 25.73%, rgba(255, 255, 255, 0) 104.43%), #BD744E;
      height: 2px;
      margin-left: 6.4%;
      width: 30%;
      z-index: 2;
      position: relative;
      top: 80%; }
    .main_content .contacts .contacts_content .bg_contacts_img {
      position: absolute;
      width: 930px;
      right: 0;
      z-index: 2;
      height: 630px;
      background: url(../img/contacts.png) no-repeat;
      -webkit-border-radius: 5px;
              border-radius: 5px; }
